@import "./base/reset";
@import "./base/global";
@import "./utilits/mixin";
@import "./utilits/variables";
@import "./layouts/header";
@import "./layouts/footer";

// ABOUT-SECTION-VIDEO

#about {
  position: relative;
  height: 100vh;
  .about-section {
    position: absolute;
    width: 100%;
    padding: 300px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .video-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h1 {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      font-size: 20vw;
      text-align: center;
      text-transform: uppercase;
      color: #000;
      line-height: 100vh;
      mix-blend-mode: screen;
    }
  }
}

// About-Banner-Section

#about-section {
  background-color: #fbf6e8;
  padding: 3rem 0;
  .about-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .hero-banner-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      // align-items: center;
      justify-content: center;

      p {
        font-size: 14px;
        color: #9b804e;
        letter-spacing: 6px;
      }
      h1 {
        font-size: 50px;
        max-width: 700px;
        font-weight: 400;
        font-family: "Forum", serif;
        color: #3d3931;
      }
      a {
        text-align: center;
        padding: 15px 25px;
        background-color: #9b804e;
        color: #fff;
        font-size: 16px;
        width: 200px;
        font-weight: 400;
        border: 1px solid transparent;
        transition: all 0.7s;

        &:hover {
          box-shadow: inset 0 -5em 0 0 #fff, inset 0 5em 0 0 #fff;
          color: #9b804e;
          border: 1px solid #9b804e;
        }
      }
    }
    .hero-banner-right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 30px;
      .info-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-right {
          img {
            width: 150px;
          }
        }
        .texts {
          display: flex;
          flex-direction: column;
          gap: 15px;
          text-align: center;
          h3 {
            font-weight: 400;
            font-family: "Forum", serif;
            color: #3d3931;
            font-size: 30px;
          }
          p {
            color: #9b804e;
            font-size: 15px;
            font-weight: 400;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      .hero-banner-left {
        text-align: center;
        align-items: center;
        h1 {
          font-size: 30px;
        }
      }
      .hero-banner-right {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

// SUMMER-OFFER-SECTION-VIDEO

#elementar-section {
  // margin-top: 20px;
  position: relative;
  // height: 100vh;
  overflow: hidden;
  padding: 150px 0;

  &::after {
    content: "";
    position: absolute;
    top: -5%;
    left: 0;
    width: 58%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.5);
    // background-color: hsl(30°, 12%, 24%);
    z-index: 0;
    border-radius: 0% 35% 35% 0% / 0% 50% 50% 0%;
    // box-shadow: 0 0 0 70px #3d3931, 0 0 0 140px #3d3931;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
      10px 10px 10px rgba(0, 0, 0, 0.5);
    // -webkit-box-shadow: 10px 10px 10px #3d3931;
    // -moz-box-shadow: 10px 10px 10px #3d3931;
    // animation: pulsing 1.8s infinite;
    // -webkit-animation: pulsing 1.8s infinite;
    z-index: -1;

    // @-webkit-keyframes pulsate {
    //   0% {
    //     box-shadow: 0 0 0 #3d3931;
    //     // box-shadow: 0 0 0 0px rgb(#3d3931, 0.23),

    //   }

    //   100% {
    //     box-shadow: 0 0 0 #3d3931;
    //   }
    // }
  }
  .back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .elementar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .background-container-heading {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 80px;
        z-index: 11112;
        color: #b4b4b494;
        font-weight: 400;
        // line-height: 70px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }
    .hotel {
      // border-left: 1px solid #b4b4b494;
      width: 40%;
      display: flex;
      flex-direction: column;
      // align-items: center;
      gap: 30px;
      justify-content: center;

      h1 {
        font-size: 86px;
        z-index: 11112;
        color: #fbf6e8;
        font-weight: 400;
        letter-spacing: 10px;
      }
      img {
        width: 150px;
      }
      h3 {
        font-size: 24px;
        color: #9b804e;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 10px;
      }
      h4 {
        font-size: 116px;
        color: #fbf6e8;
        font-weight: 400;
        font-family: "Forum", serif;
      }
      p {
        font-size: 18px;
        max-width: 450px;
        letter-spacing: 1.5px;
        line-height: 28px;
        color: #fff;
        font-weight: 400;
      }
    }
    .background-section-right {
      width: 40%;
    }
  }

  @media (min-aspect-ration: 16/9) {
    .back-video {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ration: 16/9) {
    .back-video {
      width: auto;
      height: 100%;
    }
  }

  @media (max-width: 1024px) {
    &::after {
      display: none;
    }
    .elementar-content {
      .hotel {
        h1 {
          font-size: 70px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    &::after {
      display: none;
    }
    .elementar-content {
      .background-container-heading {
        h1 {
          font-size: 40px;
        }
      }
      .hotel {
        h1 {
          font-size: 30px;
        }
        h3 {
          font-size: 20px;
        }
        h4 {
          font-size: 30px;
        }
      }
    }
  }
}

// KNOW-SECTION
#know {
  padding: 3rem 0;
  background-color: #fbf6e8;
  .know-section {
    display: grid;
    // grid-template-columns: 500px auto 500px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .know-section-right {
      background-image: url("../images/Specification-block-image-1.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .know-section-texts {
      display: flex;
      flex-direction: column;
      gap: 20px;
      // align-items: center;
      justify-content: center;
      h3 {
        color: #9b804e;
      }
      h1 {
        color: #3d3931;
        max-width: 400px;
        font-weight: 400;
        font-family: "Forum", serif;
        font-size: 50px;
        @media screen and (max-width: 767px) {
          font-size: 30px;
        }
      }

      .boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 30px;
        @media screen and (max-width: 767px) {
          grid-template-columns: repeat(1, 1fr);
        }
        .box {
          padding: 30px 50px;
          text-align: center;
          h1 {
            font-size: 60px;
            color: #9b804e;
            font-weight: 400;
            font-family: "Forum", serif;
          }
          h3 {
            font-weight: 400;
            color: #3d3931;
            letter-spacing: 2px;
          }
        }
        .box-1 {
          background-color: #f2ede0;
          &:hover {
            background-color: #fff;
          }
        }
        .box-2 {
          &:hover {
            background-color: #f2ede0;
          }
        }
      }
    }
    .know-section-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 30px;
      gap: 20px;
      .img {
        img {
          width: 100%;
        }
      }
      p {
        font-size: 16px;
        color: #9b804e;
        font-weight: 400;
        letter-spacing: 1.5px;
        line-height: 20px;
      }
    }
  }
}

// Excellence-section

#excellence {
  padding: 3rem 0;
  .exellence-section {
    .info {
      padding: 50px 0;
      @include flexbox(center);
      flex-direction: column;
      gap: 10px;
      text-align: center;
      h3 {
        font-size: 14px;
        font-weight: 500;
        color: #9b804e;
        letter-spacing: 5px;
      }
      h1 {
        font-size: 50px;
        color: #3d3931;
        font-weight: 400;
        font-family: "Forum", serif;

        @media screen and (max-width: 767px) {
          font-size: 25px;
        }
      }

      p {
        max-width: 700px;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #3d3931;
      }
    }
    .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .intro-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .intro-box {
          padding: 20px;
          background-color: #fbf6e8;
          width: 100%;
          border: 1px solid #9b804e;
          border-radius: 5px;
          .empty {
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #9b804e;
            img {
              width: 130px;
            }
            h2 {
              font-size: 20px;
              color: #9b804e;
              font-weight: 400;
              padding-left: 40px;
            }
            .texts {
              display: flex;
              flex-direction: column;
              gap: 10px;
              justify-content: center;
              // align-items: end;
              padding-left: 50px;
              h3 {
                font-size: 25px;
                color: #9b804e;
                font-weight: 400;
                font-family: "Forum", serif;
              }
              p {
                font-size: 15px;
                color: #3d3931;
              }
            }
          }
        }
      }
      .intro-left {
        padding: 0 30px;
        width: 50%;

        .form-table {
          width: 100%;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 30px;
          border: 1px solid #9b804e;
          border-radius: 5px;
          .banner-form {
            // width: 80%;
            position: relative;
            // background-color: #9b804e;
            img {
              width: 100%;
            }
            .info {
              position: absolute;
              top: 40px;
              left: 60px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              // gap: 10px;

              img {
                width: 200px;
              }
              h1 {
                font-size: 40px;
                color: #9b804e;
                font-weight: 400;
                font-family: "Forum", serif;
              }
              p {
                color: #3d3931;
                font-size: 20px;
                line-height: 30px;
                // @media screen and (max-width: 767px) {
                //   font-size: 15px;
                // }
              }
            }
          }
        }
      }

      @media screen and (max-width: 1024px) {
        flex-direction: column;
        .intro-right {
          width: 100%;
        }
        .intro-left {
          width: 100%;
        }
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}
