@import "./base/reset";
@import "./base/global";
@import "./utilits/mixin";
@import "./utilits/variables";
// @import "./layouts/header";
@import "./layouts/footer";
header {
  position: absolute;
  width: 100%;
  z-index: 99;
  transition: all 0.7s;
  background-color: rgba(0, 0, 0, 0.1);

  #header-top {
    .header-top {
      padding: 10px 0;
      //   border-bottom: 1px solid #9b804e;
      @include flexbox();

      .header-top-right {
        // padding: 0 40px;
        @include flexbox(center);
        gap: 20px;
        a {
          font-size: 14px;
          color: $color-brown;
          font-weight: 500;
          transition: all 0.6s;
          color: #7e7351;
          &:hover {
            color: #9b804e;
          }
        }
        h5 {
          font-size: 15px;
          color: $color-brown;
          font-weight: 500;
          color: #8a7c52;
        }
      }
      .header-top-left {
        display: flex;
        // padding: 0 40px;
        gap: 10px;
        a {
          font-size: 14px;
          font-weight: 500;
          color: $color-brown;
          transition: all 0.6s;
          color: #a28f57;
          &:hover {
            color: #9b804e;
          }
        }
        span {
          color: $color-brown;
        }
      }
    }
  }
  .elementar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    .border-bottom {
      width: 90%;
      height: 1px;
      background-color: #9b804e;
    }
  }

  #header-bottom {
    padding: 30px 0;
    .header-bottom {
      @include flexbox();
      .logo {
        a {
          img {
            width: 80px;
          }
        }
      }

      nav {
        ul {
          display: flex;
          // align-items: center;
          gap: 20px;
          li {
            &:hover ul.dropdown {
              display: block;
            }
            a {
              font-size: 14px;
              color: #fff;
              text-transform: uppercase;
              line-height: 25px;
              font-weight: bold;
              transition: all 0.5s;
              i {
                margin-left: 5px;
                font-size: 13px;
              }

              &.active {
                color: #9b804e;
              }

              &:hover {
                color: #9b804e;
              }
            }

            .drop-down {
              // width: 40%;
              padding-top: 20px;
              .dropdown {
                position: absolute;
                background-color: #fffcf2;
                padding: 10px 30px;
                line-height: 10px;
                display: none;
                li {
                  a {
                    color: $color-brown;
                    font-size: 13px;
                    font-weight: bold;
                    // transition: all 0.6s;
                    margin: 50px 0;

                    &:hover {
                      color: #efa824;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .navbar-search {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .fa-magnifying-glass {
          font-size: 20px;
          cursor: pointer;
          color: #fff;
        }
        #menu-icon {
          display: none;
          font-size: 20px;
          cursor: pointer;
          color: #fff;
          transition: all 0.6s;
        }
        .fa-xmark {
          font-size: 20px;
          cursor: pointer;
          color: #fff;
          transition: all 0.6s;
        }

        .menu-circle {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 3px;
          cursor: pointer;
          .circle {
            width: 13px;
            height: 13px;
            border: 2px solid #fff;
            border-radius: 50%;
            transition: all 0.5s;
          }

          &:hover {
            .circle-x {
              transform: translateY(7.5px);
            }
            .circle-y {
              transform: translateY(-7.5px);
            }
          }
        }
      }
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    #header-top {
      display: none;
    }
    .elementar-section {
      display: none;
    }
    #header-bottom {
      .header-bottom {
        nav {
          // display: none;
          position: fixed;
          width: 50%;
          top: 0;
          left: -800px;
          background-color: #fffcf2;
          transition: all 0.8s;
          height: 100%;
          ul {
            flex-direction: column;
            padding: 30px;
            li {
              a {
                color: #404044;
              }
            }
          }

          &.show {
            left: 0;
          }
        }
        .navbar-search {
          #menu-icon {
            display: block;
          }
          .menu-circle {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    #header-top {
      display: none;
    }
    .elementar-section {
      display: none;
    }
    #header-bottom {
      .header-bottom {
        nav {
          // display: none;
          position: fixed;
          width: 50%;
          top: 0;
          left: -800px;
          background-color: #fffcf2;
          transition: all 0.8s;
          height: 100%;
          ul {
            flex-direction: column;
            padding: 30px;
            li {
              a {
                color: #413d31;
              }
            }
          }

          &.show {
            left: 0;
          }
        }
        .navbar-search {
          #menu-icon {
            display: block;
          }
          .menu-circle {
            display: none;
          }
        }
      }
    }
  }

  &.header-scroll {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    // box-shadow: 5px 5px 5px #ddd;
    z-index: 11111;
    #header-top {
      display: none;
    }
    #header-bottom {
      padding: 1rem 0;
    }
    .elementar-section {
      display: none;
    }
  }
}
#about-menu {
  width: 500px;
  background-color: #fffcf2;
  color: #fff;
  position: fixed;
  top: 0;
  right: -550px;
  bottom: 0;
  z-index: 111;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: all 0.7s;
  z-index: 999999;
  overflow: auto;
  .about-menu {
    // @include flexbox(center);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    position: relative;
    a {
      img {
        width: 100px;
      }
    }

    .fa-regular {
      position: absolute;
      top: 40px;
      right: 40px;
      font-size: 25px;
      color: #9b804e;
      cursor: pointer;
      transition: all 0.7s;
      &:hover {
        transform: scale(1.1);
      }
    }

    .about {
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      a {
        font-size: 16px;
        color: #9b804e;
      }
      p {
        font-size: 16px;
        color: $color-brown;
      }
      .icons {
        display: flex;
        gap: 10px;
        a {
          font-size: 16px;
        }
      }
    }
    .contact {
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
      h5 {
        font-size: 26px;
        color: #9b804e;
        font-family: "Forum", serif;
      }
      a {
        font-size: 16px;
        color: $color-brown;
        transition: all 0.6s;
        i {
          margin-right: 9px;
          color: #9b804e;
          font-size: 16px;
        }

        &:hover {
          color: #9b804e;
        }
      }
      p {
        font-size: 16px;
        color: $color-brown;
      }
    }

    .menu-btn {
      display: flex;
      gap: 20px;
      button {
        padding: 10px 30px;
        cursor: pointer;
        transition: all 0.7s;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid transparent;
        color: #fff;

        &:nth-child(1) {
          background-color: #9b804e;

          &:hover {
            box-shadow: inset -6.5em 0 0 0 #fff, inset 6.5em 0 0 0 #fff;
            color: #9b804e;
          }
        }
        &:nth-child(2) {
          background-color: #413d31;
          &:hover {
            box-shadow: inset -6.5em 0 0 0 #fff, inset 6.5em 0 0 0 #fff;
            color: #413d31;
          }
        }
      }
    }
  }
}

#about {
  background-image: url("../images/4-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .empty {
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.8);
    .about-section {
      text-align: center;
      h1 {
        padding-top: 70px;
        font-size: 70px;
        font-weight: 400;
        font-family: "Forum", serif;
        color: #fff;

        @media screen and (max-width: 767px) {
          font-size: 40px;
        }
      }
    }
  }
}

// About-Banner-Section

#about-section {
  background-color: #fbf6e8;
  padding: 3rem 0;
  .about-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .hero-banner-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      // align-items: center;
      justify-content: center;

      p {
        font-size: 14px;
        color: #9b804e;
        letter-spacing: 6px;
      }
      h1 {
        font-size: 50px;
        max-width: 700px;
        font-weight: 500;
        font-family: "Cormorant Garamond", serif;
        color: #3d3931;
      }
      a {
        text-align: center;
        padding: 15px 25px;
        background-color: #9b804e;
        color: #fff;
        font-size: 16px;
        width: 200px;
        font-weight: 400;
        border: 1px solid transparent;
        transition: all 0.7s;

        &:hover {
          box-shadow: inset 0 -5em 0 0 #fff, inset 0 5em 0 0 #fff;
          color: #9b804e;
          border: 1px solid #9b804e;
        }
      }
    }
    .hero-banner-right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 30px;
      .info-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-right {
          img {
            width: 150px;
          }
        }
        .texts {
          display: flex;
          flex-direction: column;
          gap: 15px;
          text-align: center;
          h3 {
            font-weight: 400;
            font-family: "Forum", serif;
            color: #3d3931;
            font-size: 30px;
          }
          p {
            color: #9b804e;
            font-size: 15px;
            font-weight: 400;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      .hero-banner-left {
        text-align: center;
        align-items: center;
        h1 {
          font-size: 30px;
        }
      }
      .hero-banner-right {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

// SUMMER-OFFER-SECTION-VIDEO

#elementar-section {
  // margin-top: 20px;
  position: relative;
  // height: 100vh;
  overflow: hidden;
  padding: 150px 0;

  &::after {
    content: "";
    position: absolute;
    top: -5%;
    left: 0;
    width: 58%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.5);
    // background-color: hsl(30°, 12%, 24%);
    z-index: 0;
    border-radius: 0% 35% 35% 0% / 0% 50% 50% 0%;
    // box-shadow: 0 0 0 70px #3d3931, 0 0 0 140px #3d3931;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
      10px 10px 10px rgba(0, 0, 0, 0.5);
    // -webkit-box-shadow: 10px 10px 10px #3d3931;
    // -moz-box-shadow: 10px 10px 10px #3d3931;
    // animation: pulsing 1.8s infinite;
    // -webkit-animation: pulsing 1.8s infinite;
    z-index: -1;

    // @-webkit-keyframes pulsate {
    //   0% {
    //     box-shadow: 0 0 0 #3d3931;
    //     // box-shadow: 0 0 0 0px rgb(#3d3931, 0.23),

    //   }

    //   100% {
    //     box-shadow: 0 0 0 #3d3931;
    //   }
    // }
  }
  .back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .elementar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .background-container-heading {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 80px;
        z-index: 11112;
        color: #b4b4b494;
        font-weight: 400;
        // line-height: 70px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }
    .hotel {
      // border-left: 1px solid #b4b4b494;
      width: 40%;
      display: flex;
      flex-direction: column;
      // align-items: center;
      gap: 30px;
      justify-content: center;

      h1 {
        font-size: 86px;
        z-index: 11112;
        color: #fbf6e8;
        font-weight: 400;
        letter-spacing: 10px;
      }
      img {
        width: 150px;
      }
      h3 {
        font-size: 24px;
        color: #9b804e;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 10px;
      }
      h4 {
        font-size: 116px;
        color: #fbf6e8;
        font-weight: 400;
        font-family: "Forum", serif;
      }
      p {
        font-size: 18px;
        max-width: 450px;
        letter-spacing: 1.5px;
        line-height: 28px;
        color: #fff;
        font-weight: 400;
      }
    }
    .background-section-right {
      width: 40%;
    }
  }

  @media (min-aspect-ration: 16/9) {
    .back-video {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ration: 16/9) {
    .back-video {
      width: auto;
      height: 100%;
    }
  }

  @media (max-width: 1024px) {
    &::after {
      display: none;
    }
    .elementar-content {
      .hotel {
        h1 {
          font-size: 70px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    &::after {
      display: none;
    }
    .elementar-content {
      .background-container-heading {
        h1 {
          font-size: 40px;
        }
      }
      .hotel {
        h1 {
          font-size: 30px;
        }
        h3 {
          font-size: 20px;
        }
        h4 {
          font-size: 30px;
        }
      }
    }
  }
}

// KNOW-SECTION
#know {
  padding: 3rem 0;
  background-color: #fbf6e8;
  .know-section {
    display: grid;
    // grid-template-columns: 500px auto 500px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .know-section-right {
      background-image: url("../images/Specification-block-image-1.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .know-section-texts {
      display: flex;
      flex-direction: column;
      gap: 20px;
      // align-items: center;
      justify-content: center;
      h3 {
        color: #9b804e;
      }
      h1 {
        color: #3d3931;
        max-width: 400px;
        font-weight: 400;
        font-family: "Forum", serif;
        font-size: 50px;
        @media screen and (max-width: 767px) {
          font-size: 30px;
        }
      }

      .boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 30px;
        @media screen and (max-width: 767px) {
          grid-template-columns: repeat(1, 1fr);
        }
        .box {
          padding: 30px 50px;
          text-align: center;
          h1 {
            font-size: 60px;
            color: #9b804e;
            font-weight: 400;
            font-family: "Forum", serif;
          }
          h3 {
            font-weight: 400;
            color: #3d3931;
            letter-spacing: 2px;
          }
        }
        .box-1 {
          background-color: #f2ede0;
          &:hover {
            background-color: #fff;
          }
        }
        .box-2 {
          &:hover {
            background-color: #f2ede0;
          }
        }
      }
    }
    .know-section-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 30px;
      gap: 20px;
      .img {
        img {
          width: 100%;
        }
      }
      p {
        font-size: 16px;
        color: #9b804e;
        font-weight: 400;
        letter-spacing: 1.5px;
        line-height: 20px;
      }
    }
  }
}

// Excellence-section

#excellence {
  padding: 3rem 0;
  .exellence-section {
    .info {
      padding: 50px 0;
      @include flexbox(center);
      flex-direction: column;
      gap: 10px;
      text-align: center;
      h3 {
        font-size: 14px;
        font-weight: 500;
        color: #9b804e;
        letter-spacing: 5px;
      }
      h1 {
        font-size: 50px;
        color: #3d3931;
        font-weight: 400;
        font-family: "Forum", serif;

        @media screen and (max-width: 767px) {
          font-size: 25px;
        }
      }

      p {
        max-width: 700px;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #3d3931;
      }
    }
    .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .intro-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .intro-box {
          padding: 20px;
          background-color: #fbf6e8;
          width: 100%;
          // border: 1px solid #9b804e;
          border-radius: 5px;
          position: relative;
          &:after,
          &:before {
            content: " ";
            width: 10px;
            height: 10px;
            position: absolute;
            border: 0px solid #fff;
            transition: all 1s;
          }
          &:after {
            top: -1px;
            left: -1px;
            border-top: 2px solid #9b804e;
            border-left: 2px solid #9b804e;
          }
          &:before {
            bottom: -1px;
            right: -1px;
            border-bottom: 2px solid #9b804e;
            border-right: 2px solid #9b804e;
          }
          &:hover {
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            &:before,
            &:after {
              width: 100%;
              height: 100%;
            }
          }
          .empty {
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #9b804e;

            img {
              width: 130px;
            }
            h2 {
              font-size: 20px;
              color: #9b804e;
              font-weight: 400;
              padding-left: 40px;
            }
            .texts {
              display: flex;
              flex-direction: column;
              gap: 10px;
              justify-content: center;
              // align-items: end;
              padding-left: 50px;
              h3 {
                font-size: 25px;
                color: #9b804e;
                font-weight: 400;
                font-family: "Forum", serif;
              }
              p {
                font-size: 15px;
                color: #3d3931;
              }
            }
          }
        }
      }
      .intro-left {
        padding: 0 30px;
        width: 50%;

        .form-table {
          width: 100%;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 30px;
          border: 1px solid #9b804e;
          border-radius: 5px;
          .banner-form {
            // width: 80%;
            position: relative;
            // background-color: #9b804e;
            img {
              width: 100%;
            }
            .info {
              position: absolute;
              top: 40px;
              left: 60px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              // gap: 10px;

              img {
                width: 200px;
              }
              h1 {
                font-size: 40px;
                color: #9b804e;
                font-weight: 400;
                font-family: "Forum", serif;
              }
              p {
                color: #3d3931;
                font-size: 20px;
                line-height: 30px;
                // @media screen and (max-width: 767px) {
                //   font-size: 15px;
                // }
              }
            }
          }
        }
      }

      @media screen and (max-width: 1024px) {
        flex-direction: column;
        .intro-right {
          width: 100%;
        }
        .intro-left {
          width: 100%;
        }
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}
