@import "./base/reset";
@import "./base/global";
@import "./utilits/mixin";
@import "./utilits/variables";
@import "./layouts/header";
@import "./layouts/footer";

#about {
  position: relative;
  .about-section {
    position: absolute;
    width: 100%;
    padding: 300px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .video-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h1 {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      font-size: 20vw;
      text-align: center;
      text-transform: uppercase;
      color: #000;
      line-height: 100vh;
      mix-blend-mode: screen;
    }
  }
}
