@import "./base/reset";
@import "./base/global";
@import "./utilits/mixin";
@import "./utilits/variables";
@import "./layouts/header";
@import "./layouts/footer";

#contact-section {
  background-image: url("../images/home-1-interactive-gallery-4.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .empty {
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.8);

    .rooms-section {
      text-align: center;
      h1 {
        padding-top: 70px;
        font-size: 70px;
        font-weight: 400;
        font-family: "Forum", serif;
        color: #3d3931;

        @media screen and (max-width: 767px) {
          font-size: 40px;
        }
      }
    }
  }
}

.contact-about {
  padding: 3rem 0;

  .contact-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 30px;
    }
    .contact-box {
      box-shadow: 5px 5px 5px #ddd;
      padding: 30px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      position: relative;
      transition: all 0.7s;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      &::before {
        content: "";
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-top: solid 2px rgba(231, 141, 31, 0.75);
        border-bottom: solid 2px rgba(231, 141, 31, 0.75);
        transition: 0.2s;
        transform: scaleX(0);
      }

      &::after {
        content: "";
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-left: solid 2px rgba(231, 141, 31, 0.75);
        border-right: solid 2px rgba(231, 141, 31, 0.75);
        transition: 0.2s;
        transform: scaleY(0);
      }
      h3 {
        font-weight: 400;
        color: #3d3931;
        padding: 10px 0;
        font-size: 30px;
        @media screen and (max-width: 767px) {
          font-size: 20px;
        }
      }
      p {
        font-size: 15px;
        font-style: italic;
        max-width: 300px;
      }
      img {
        width: 100px;
        border-radius: 50%;
      }
      &:hover {
        &::before,
        &::after {
          transform: scale(1);
        }
      }
    }
  }
}

#touch-sec {
  padding: 3rem 0;

  .touch-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .tocuh-right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;

      h5 {
        color: rgba(165, 99, 18, 0.75);
        font-size: 15px;
      }
      h2 {
        color: $color-brown;
        font-size: 45px;
        font-weight: 400;
      }
      p {
        max-width: 500px;
        line-height: 25px;
        color: #939393;
      }
      button {
        width: 150px;
        padding: 10px 20px;
        border: 1px solid transparent;
        background-color: rgba(165, 99, 18, 0.75);
        color: #fff;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          box-shadow: inset 6em 0 0 0 #fff, inset -6em 0 0 0 #fff;
          color: rgba(165, 99, 18, 0.75);
        }
      }
    }
    .tocuh-left {
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          width: 100%;
          padding: 13px 20px;
          border: 1px solid rgb(217, 217, 217);
          border-radius: 5px;

          &:focus {
            border: 1px solid rgba(240, 157, 56, 0.75);
            -webkit-box-shadow: 0px 0px 5px rgba(240, 157, 56, 0.75);
            -moz-box-shadow: 0px 0px 5px rgba(240, 157, 56, 0.75);
            box-shadow: 0px 0px 5px rgba(240, 157, 56, 0.75);
          }
        }
        textarea {
          width: 100%;
          border: 1px solid rgb(217, 217, 217);
          border-radius: 5px;

          &:focus {
            border: 1px solid rgba(240, 157, 56, 0.75);
            -webkit-box-shadow: 0px 0px 5px rgba(240, 157, 56, 0.75);
            -moz-box-shadow: 0px 0px 5px rgba(240, 157, 56, 0.75);
            box-shadow: 0px 0px 5px rgba(240, 157, 56, 0.75);
          }
        }

        button {
          background-color: rgba(165, 99, 18, 0.75);
          color: #fff;
          cursor: pointer;
          padding: 13px 20px;
          border: 1px solid rgb(217, 217, 217);
          border-radius: 5px;
        }
      }
    }
  }
}
