@import "./base/reset";
@import "./base/global";
@import "./utilits/mixin";
@import "./utilits/variables";
@import "./layouts/header";
@import "./layouts/footer";

// BANNER-SECTION

#banner-section {
  padding: 3rem 0;
  // position: absolute;
  position: relative;
  width: 100%;
  height: 100vh;
  // padding: 300px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .slider {
    position: absolute;
    inset: 80px 50px 80px 80px;
    background-color: #ccc;

    .slides {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 240px;
      height: 320px;
      // background: var(---img);
      // background-image: url("../images/Herittage-home-3-slider-1.webp");
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      transition: all 0.5s;
      border-radius: 20px;
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      &:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(0);
        box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
        background-image: url("../images/Herittage-home-3-slider-1.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .content {
          opacity: 1;
          transform: translateY(0);
          transition-delay: 1ms;
        }
      }
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(0);
        box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
        background-image: url("../images/Herittage-home-3-slider-2.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .content {
          opacity: 1;
          transform: translateY(0);
          transition-delay: 0.5s;
        }
      }

      &:nth-child(3) {
        left: calc(50% + 240px);
        background-image: url("../images/Herittage-home-3-slider-3.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:nth-child(4) {
        left: calc(50% + 500px);
        background-image: url("../images/Herittage-home-3-slider-1.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:nth-child(5) {
        left: calc(50% + 760px);
        background-image: url("../images/Herittage-home-3-slider-3.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:nth-child(6) {
        left: calc(50% + 1020px);
        background-image: url("../images/Herittage-home-3-slider-2.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
      }
    }

    .content {
      position: relative;
      padding: 40px;
      max-width: 600px;
      transition: all 0.3s;
      transition-delay: 0s;
      transform: translateY(50px);
      z-index: 11100000;
      opacity: 0;
      h1 {
        font-size: 70px;
        color: #fff;
        font-weight: 400;
        font-family: "Forum", serif;
      }
      p {
        padding: 10px 0;
        font-weight: 500;
        letter-spacing: 5px;
        font-size: 14px;
        color: #3d3931;
      }
    }

    @media (max-width: 900px) {
      position: absolute;
      inset: 40px 40px 200px 40px;

      .slides {
        width: 100px;
        height: 100px;
        bottom: -200px;
        top: initial;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

        &:nth-child(1) {
          top: initial;
          bottom: 0px;
        }
        &:nth-child(2) {
          top: initial;
          bottom: 0px;
        }
        &:nth-child(3) {
          left: 0;
        }
        &:nth-child(4) {
          left: 120px;
        }
        &:nth-child(5) {
          left: 240px;
        }
        &:nth-child(6) {
          left: 360px;
        }
      }
    }
  }

  .buttons {
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;

    span {
      position: relative;
      width: 50px;
      height: 50px;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-top: 4px solid #9b804e;
        border-left: 4px solid #9b804e;
        transform: rotate(315deg) translate(2px, 2px);
      }

      &:nth-child(2) {
        &::before {
          transform: rotate(135deg) translate(2px, 2px);
        }
      }
      &.active {
        opacity: 0.5;
      }
    }
  }
}

// ELITE-SECTION

#elit {
  background-image: url("../images/bg-art-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .elit-section {
    padding: 60px 0;
    background-color: rgba(247, 245, 240, 0.945);

    .divine-elite {
      display: flex;
      align-items: center;
      justify-content: center;
      // max-width: 600px;
      text-align: center;
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        h5 {
          font-size: 14px;
          color: #9b804e;
          font-weight: 500;
        }
        h1 {
          font-size: 70px;
          color: #3d3931;
          font-family: "Forum", serif;
          font-weight: 400;
        }
        p {
          font-size: 16px;
          color: #3d3931;
          font-weight: 400;
          max-width: 700px;
          line-height: 25px;
        }
      }
    }
  }
}

// Showing Luxury Hotels Section

#luxury-section {
  padding: 2rem 0;
  background-color: #fbf6e8;
  .luxury-section {
    .luxury-info {
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      text-align: center;
      img {
        width: 150px;
        // mix-blend-mode: color-burn;
      }
      h1 {
        font-size: 70px;
        color: #3d3931;
        font-family: "Forum", serif;
        font-weight: 400;
        line-height: 70px;
      }
      p {
        font-size: 16px;
        color: $color-brown;
        line-height: 26px;
        max-width: 700px;
        font-weight: 400;
      }
    }

    .products-section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .product-card {
        position: relative;
        // background-color: #fff;
        overflow: hidden;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 70%;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          );
          z-index: 2;
          transition: all 0.5s;
          opacity: 0;
        }

        &:hover {
          &::before {
            opacity: 1;
          }
          img {
            transform: scale(1.1);
          }
        }
        img {
          width: 100%;
          transition: all 0.6s;
        }
        button {
          padding: 8px 15px;
          border: 1px solid transparent;
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          background-color: #9b804e;
          position: absolute;
          top: 10px;
          right: 0;
          z-index: 33;
        }
        .card-info {
          padding: 20px 10px;
          display: flex;
          flex-direction: column;
          gap: 5px;

          a {
            h3 {
              font-size: 14px;
              color: #9b804e;
              font-weight: 500;
              transition: all 0.6s;

              &:hover {
                color: #3d3931;
              }
            }
            h1 {
              font-size: 40px;
              font-family: "Forum", serif;
              font-weight: 400;
              line-height: 70px;
              color: #3d3931;
              transition: all 0.6s;

              &:hover {
                color: #9b804e;
              }
            }
          }
        }

        .card-details {
          @include flexbox();
          padding: 20px 10px;
          opacity: 0;
          transition: all 0.6s;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          z-index: 444;

          .icons {
            display: flex;
            gap: 20px;
            transform: translateX(0);
            transition: all 0.6s;

            i {
              font-size: 15px;
              color: #fff;
            }
          }
          a {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            padding-bottom: 5px;
            // border-bottom: 1px solid #fff;
            transform: translateX(0);
            transition: all 0.6s;
          }
        }

        &:hover {
          .card-details {
            opacity: 1;
            .icons {
              transform: translateX(20px);
            }
            a {
              transform: translateX(-20px);
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .luxury-section {
      .products-section {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .luxury-section {
      .luxury-info {
        h1 {
          font-size: 45px;
          line-height: 40px;
        }
      }
      .products-section {
        grid-template-columns: repeat(1, 1fr);
        .product-card {
          &:hover {
            &::before {
              opacity: 0;
            }
          }
          .card-details {
            top: 60%;
          }
        }
      }
    }
  }
  @media (min-width: 250px) and (max-width: 480px) {
    .luxury-section {
      .luxury-info {
        h1 {
          font-size: 45px;
          line-height: 40px;
        }
      }
      .products-section {
        grid-template-columns: repeat(1, 1fr);

        .product-card {
          &:hover {
            &::before {
              opacity: 0;
            }
            .card-details {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

// SUMMER-OFFER-SECTION-VIDEO

#elementar-section {
  // margin-top: 20px;
  position: relative;
  // height: 100vh;
  overflow: hidden;
  padding: 150px 0;

  &::after {
    content: "";
    position: absolute;
    top: -5%;
    left: 0;
    width: 58%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.5);
    // background-color: hsl(30°, 12%, 24%);
    z-index: 0;
    border-radius: 0% 35% 35% 0% / 0% 50% 50% 0%;
    // box-shadow: 0 0 0 70px #3d3931, 0 0 0 140px #3d3931;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
      10px 10px 10px rgba(0, 0, 0, 0.5);
    // -webkit-box-shadow: 10px 10px 10px #3d3931;
    // -moz-box-shadow: 10px 10px 10px #3d3931;
    // animation: pulsing 1.8s infinite;
    // -webkit-animation: pulsing 1.8s infinite;
    z-index: -1;

    // @-webkit-keyframes pulsate {
    //   0% {
    //     box-shadow: 0 0 0 #3d3931;
    //     // box-shadow: 0 0 0 0px rgb(#3d3931, 0.23),

    //   }

    //   100% {
    //     box-shadow: 0 0 0 #3d3931;
    //   }
    // }
  }
  .back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .elementar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .background-container-heading {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 80px;
        z-index: 11112;
        color: #b4b4b494;
        font-weight: 400;
        // line-height: 70px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }
    .hotel {
      // border-left: 1px solid #b4b4b494;
      width: 40%;
      display: flex;
      flex-direction: column;
      // align-items: center;
      gap: 30px;
      justify-content: center;

      h1 {
        font-size: 86px;
        z-index: 11112;
        color: #fbf6e8;
        font-weight: 400;
        letter-spacing: 10px;
      }
      img {
        width: 150px;
      }
      h3 {
        font-size: 24px;
        color: #9b804e;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 10px;
      }
      h4 {
        font-size: 116px;
        color: #fbf6e8;
        font-weight: 400;
        font-family: "Forum", serif;
      }
      p {
        font-size: 18px;
        max-width: 450px;
        letter-spacing: 1.5px;
        line-height: 28px;
        color: #fff;
        font-weight: 400;
      }
    }
    .background-section-right {
      width: 40%;
    }
  }

  @media (min-aspect-ration: 16/9) {
    .back-video {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ration: 16/9) {
    .back-video {
      width: auto;
      height: 100%;
    }
  }
}

// CUSTOMER-SECTION

#customer {
  // background-image: url("../images/bg-art-icon.png");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  .customer {
    padding: 60px 0;
    background-color: rgba(247, 245, 240, 0.945);

    .customer-section {
      .customer-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
        padding: 50px 0;

        h5 {
          font-size: 14px;
          color: #9b804e;
          font-weight: 400;
        }
        h1 {
          font-size: 70px;
          color: $color-brown;
          font-family: "Forum", serif;
          font-weight: 400;
        }
        p {
          font-size: 14px;
          color: $color-brown;
          font-weight: 400;
          max-width: 700px;
          line-height: 25px;
        }
      }
      .customer-carousel {
        .item-content {
          background-color: #fbf6e8;
          padding: 20px;
          border-radius: 20px;
          cursor: grab;
          p {
            font-size: 20px;
            color: #000;
            font-weight: 400;
            font-family: "Forum", serif;
            line-height: 30px;
          }
          .card-bottom {
            padding: 20px 0;
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 25%;
              aspect-ratio: 1/1;
              object-fit: contain;
              // mix-blend-mode: color-burn;
              border-radius: 50%;
            }
            .info {
              display: flex;
              flex-direction: column;
              gap: 10px;
              .star-icons {
                i {
                  font-size: 15px;
                  color: #9b804e;
                }
              }
              h5 {
                font-size: 16px;
                color: $color-brown;
                font-weight: 700;
                span {
                  color: #9b804e;
                  font-weight: 400;
                  line-height: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// BLOG-SECTION

#blog {
  padding: 2rem 0;
  background-color: #fcf9ef;

  .blog-section {
    .blog-info {
      padding: 30px 0;
      @include flexbox(center);
      flex-direction: column;
      gap: 10px;
      text-align: center;
      h5 {
        font-size: 14px;
        font-weight: 500;
        color: #9b804e;
        letter-spacing: 5px;
      }
      h1 {
        font-size: 70px;
        color: #3d3931;
        font-weight: 400;
        font-family: "Forum", serif;
      }

      p {
        max-width: 700px;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #3d3931;
      }
    }
    .blog-boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      .blog-box {
        box-shadow: 5px 5px 20px #fdd;
        img {
          width: 100%;
        }

        .intro {
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          padding: 30px 10px;

          a {
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: 500;
            font-size: 14px;
            h3 {
              color: #3d3931;
              font-family: "Forum", serif;
              letter-spacing: 3px;
              text-transform: uppercase;
            }
            span {
              color: #9b804e;
              letter-spacing: 3px;
            }
          }
          h1 {
            font-size: 40px;
            color: #3d3931;
            font-weight: 400;
            font-family: "Forum", serif;
          }
          p {
            font-size: 16px;
            color: #3d3931;
            font-weight: 400;
            max-width: 500px;
            line-height: 20px;
          }
          .read-more {
            font-size: 16px;
            color: #3d3931;
            font-weight: 500;
            transition: all 0.6s;

            &:hover {
              color: #9b804e;
            }
          }
        }
      }
    }

    @media (min-width: 481px) and (max-width: 767px) {
      .blog-boxes {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    @media (min-width: 250px) and (max-width: 480px) {
      .blog-info {
        h5 {
          font-size: 10px;
        }
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 15px;
        }
      }
      .blog-boxes {
        grid-template-columns: repeat(1, 1fr);
        .blog-box {
          .intro {
            a {
              font-size: 10px;
            }
            h1 {
              font-size: 25px;
            }
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

// INSTAGRAM-CAROUSEL

#instagram-photos {
  padding: 2.5rem 0;
  .carousel-wrap {
    // &:hover {
    //   &.item-content {
    //     filter: grayscale(100%) opacity(100%);
    //   }
    // }

    .item {
      .item-content {
        overflow: hidden;
        border-radius: 20px;
        cursor: grab;
        img {
          width: 100%;
          border-radius: 20px;
          transition: all 0.6s;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
