* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Lora", serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .container {
    padding: 0 5%;
  }
}

body.show-menu #about-menu {
  right: 0;
  transition: all 0.8s;
}

.cursor .cursor-dot {
  width: 6px;
  height: 6px;
  background-color: rgb(195, 161, 109);
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}
.cursor .cursor-outline {
  width: 40px;
  height: 40px;
  border: 3px solid rgb(195, 161, 109);
  box-shadow: 1px 1px 1px #c19d68;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

header {
  position: absolute;
  width: 100%;
  z-index: 11111;
  transition: all 0.7s;
}
header #header-top .header-top {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header-top .header-top .header-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header #header-top .header-top .header-top-right a {
  font-size: 14px;
  color: #3d3931;
  font-weight: 500;
  transition: all 0.6s;
}
header #header-top .header-top .header-top-right a:hover {
  color: #9b804e;
}
header #header-top .header-top .header-top-right h5 {
  font-size: 15px;
  color: #3d3931;
  font-weight: 500;
}
header #header-top .header-top .header-top-left {
  display: flex;
  gap: 10px;
}
header #header-top .header-top .header-top-left a {
  font-size: 14px;
  font-weight: 500;
  color: #3d3931;
  transition: all 0.6s;
}
header #header-top .header-top .header-top-left a:hover {
  color: #9b804e;
}
header #header-top .header-top .header-top-left span {
  color: #3d3931;
}
header .elementar-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .elementar-section .border-bottom {
  width: 90%;
  height: 1px;
  background-color: #9b804e;
}
header #header-bottom {
  padding: 30px 0;
}
header #header-bottom .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header-bottom .header-bottom .logo a img {
  width: 80px;
}
header #header-bottom .header-bottom nav ul {
  display: flex;
  gap: 20px;
}
header #header-bottom .header-bottom nav ul:hover ul.drop-down {
  padding-top: 10px;
}
header #header-bottom .header-bottom nav ul li:hover ul.dropdown {
  display: block;
}
header #header-bottom .header-bottom nav ul li a {
  font-size: 14px;
  color: #3d3931;
  text-transform: uppercase;
  line-height: 25px;
  font-weight: 500;
  transition: all 0.5s;
}
header #header-bottom .header-bottom nav ul li a i {
  margin-left: 5px;
  font-size: 13px;
}
header #header-bottom .header-bottom nav ul li a.active {
  color: #9b804e;
}
header #header-bottom .header-bottom nav ul li a:hover {
  color: #9b804e;
}
header #header-bottom .header-bottom nav ul li .drop-down .dropdown {
  position: absolute;
  background-color: #fffcf2;
  padding: 10px 30px;
  line-height: 2;
  display: none;
  border-radius: 10px;
}
header #header-bottom .header-bottom nav ul li .drop-down .dropdown li a {
  color: #3d3931;
  font-size: 10px;
  font-weight: 400;
  transition: all 0.6s;
  padding-bottom: 5px;
  border-bottom: 1px solid #f4d8a5;
}
header #header-bottom .header-bottom nav ul li .drop-down .dropdown li a:hover {
  color: #9b804e;
}
header #header-bottom .header-bottom .navbar-search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header #header-bottom .header-bottom .navbar-search .fa-magnifying-glass {
  font-size: 20px;
  cursor: pointer;
  color: #3d3931;
}
header #header-bottom .header-bottom .navbar-search #menu-icon {
  display: none;
  font-size: 20px;
  cursor: pointer;
  color: #3d3931;
  transition: all 0.6s;
}
header #header-bottom .header-bottom .navbar-search .fa-xmark {
  font-size: 20px;
  cursor: pointer;
  color: #3d3931;
  transition: all 0.6s;
}
header #header-bottom .header-bottom .navbar-search .menu-circle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
  cursor: pointer;
}
header #header-bottom .header-bottom .navbar-search .menu-circle .circle {
  width: 13px;
  height: 13px;
  border: 2px solid #3d3931;
  border-radius: 50%;
  transition: all 0.5s;
}
header #header-bottom .header-bottom .navbar-search .menu-circle:hover .circle-x {
  transform: translateY(7.5px);
}
header #header-bottom .header-bottom .navbar-search .menu-circle:hover .circle-y {
  transform: translateY(-7.5px);
}
@media (min-width: 481px) and (max-width: 767px) {
  header #header-top {
    display: none;
  }
  header .elementar-section {
    display: none;
  }
  header #header-bottom .header-bottom nav {
    position: fixed;
    width: 50%;
    top: 0;
    left: -800px;
    background-color: #fffcf2;
    transition: all 0.8s;
    height: 100%;
  }
  header #header-bottom .header-bottom nav ul {
    flex-direction: column;
    padding: 30px;
  }
  header #header-bottom .header-bottom nav.show {
    left: 0;
  }
  header #header-bottom .header-bottom .navbar-search #menu-icon {
    display: block;
  }
  header #header-bottom .header-bottom .navbar-search .menu-circle {
    display: none;
  }
}
@media (min-width: 250px) and (max-width: 481px) {
  header #header-top {
    display: none;
  }
  header .elementar-section {
    display: none;
  }
  header #header-bottom .header-bottom nav {
    position: fixed;
    width: 50%;
    top: 0;
    left: -800px;
    background-color: #fffcf2;
    transition: all 0.8s;
    height: 100%;
  }
  header #header-bottom .header-bottom nav ul {
    flex-direction: column;
    padding: 30px;
  }
  header #header-bottom .header-bottom nav.show {
    left: 0;
  }
  header #header-bottom .header-bottom .navbar-search #menu-icon {
    display: block;
  }
  header #header-bottom .header-bottom .navbar-search .menu-circle {
    display: none;
  }
}
header.header-scroll {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 5px #ddd;
  z-index: 11111;
}
header.header-scroll #header-top {
  display: none;
}
header.header-scroll #header-bottom {
  padding: 1rem 0;
}
header.header-scroll .elementar-section {
  display: none;
}

#about-menu {
  width: 500px;
  background-color: #fffcf2;
  color: #fff;
  position: fixed;
  top: 0;
  right: -550px;
  bottom: 0;
  z-index: 111;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: all 0.7s;
  z-index: 999999;
  overflow: auto;
}
#about-menu .about-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  position: relative;
}
#about-menu .about-menu a img {
  width: 100px;
}
#about-menu .about-menu .fa-regular {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 25px;
  color: #9b804e;
  cursor: pointer;
  transition: all 0.7s;
}
#about-menu .about-menu .fa-regular:hover {
  transform: scale(1.1);
}
#about-menu .about-menu .about {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#about-menu .about-menu .about a {
  font-size: 16px;
  color: #9b804e;
}
#about-menu .about-menu .about p {
  font-size: 16px;
  color: #3d3931;
}
#about-menu .about-menu .about .icons {
  display: flex;
  gap: 10px;
}
#about-menu .about-menu .about .icons a {
  font-size: 16px;
}
#about-menu .about-menu .contact {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
#about-menu .about-menu .contact h5 {
  font-size: 26px;
  color: #9b804e;
  font-family: "Forum", serif;
}
#about-menu .about-menu .contact a {
  font-size: 16px;
  color: #3d3931;
  transition: all 0.6s;
}
#about-menu .about-menu .contact a i {
  margin-right: 9px;
  color: #9b804e;
  font-size: 16px;
}
#about-menu .about-menu .contact a:hover {
  color: #9b804e;
}
#about-menu .about-menu .contact p {
  font-size: 16px;
  color: #3d3931;
}
#about-menu .about-menu .menu-btn {
  display: flex;
  gap: 20px;
}
#about-menu .about-menu .menu-btn button {
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.7s;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #fff;
}
#about-menu .about-menu .menu-btn button:nth-child(1) {
  background-color: #9b804e;
}
#about-menu .about-menu .menu-btn button:nth-child(1):hover {
  box-shadow: inset -6.5em 0 0 0 #fff, inset 6.5em 0 0 0 #fff;
  color: #9b804e;
}
#about-menu .about-menu .menu-btn button:nth-child(2) {
  background-color: #413d31;
}
#about-menu .about-menu .menu-btn button:nth-child(2):hover {
  box-shadow: inset -6.5em 0 0 0 #fff, inset 6.5em 0 0 0 #fff;
  color: #413d31;
}

footer {
  background-image: url("../images/Footer-image-1b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer {
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.8);
}
footer .footer .footer-section .footer-info {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .footer .footer-section .footer-info img {
  width: 100px;
}
footer .footer .footer-section .footer-info p {
  font-size: 16px;
  max-width: 500px;
  color: #b5b5b5;
  line-height: 26px;
  font-weight: 400;
}
footer .footer .footer-section .footer-info .footer-btn {
  display: flex;
  gap: 20px;
  align-items: center;
}
footer .footer .footer-section .footer-info .footer-btn a {
  padding: 13px 30px;
  color: #fff;
  transition: all 0.6s;
}
footer .footer .footer-section .footer-info .footer-btn a i {
  margin-right: 8px;
}
footer .footer .footer-section .footer-info .footer-btn a:nth-child(1) {
  background-color: #9b804e;
}
footer .footer .footer-section .footer-info .footer-btn a:nth-child(1):hover {
  box-shadow: inset -7.5em 0 0 0 #3d3931, inset 7.5em 0 0 0 #3d3931;
}
footer .footer .footer-section .footer-info .footer-btn a:nth-child(2) {
  background-color: #3d3931;
}
footer .footer .footer-section .footer-info .footer-btn a:nth-child(2):hover {
  box-shadow: inset 10em 0 0 0 #9b804e, inset -10em 0 0 0 #9b804e;
}
footer .footer .footer-section .footer-top {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
footer .footer .footer-section .footer-top .footer-contact h1 {
  font-size: 24px;
  color: #b5b5b5;
  padding: 20px 0;
  font-weight: 400;
}
footer .footer .footer-section .footer-top .footer-contact nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer .footer-section .footer-top .footer-contact nav ul li a {
  font-size: 16px;
  color: #b5b5b5;
  font-weight: 400;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-top .footer-contact nav ul li a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-top .footer-help h1 {
  font-size: 24px;
  color: #b5b5b5;
  padding: 20px 0;
  font-weight: 400;
}
footer .footer .footer-section .footer-top .footer-help nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer .footer-section .footer-top .footer-help nav ul li a {
  font-size: 16px;
  color: #b5b5b5;
  font-weight: 400;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-top .footer-help nav ul li a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-top .services-footer h1 {
  font-size: 24px;
  color: #b5b5b5;
  padding: 20px 0;
  font-weight: 400;
}
footer .footer .footer-section .footer-top .services-footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer .footer-section .footer-top .services-footer nav ul li a {
  font-size: 16px;
  color: #b5b5b5;
  font-weight: 400;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-top .services-footer nav ul li a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-top .about-footer h1 {
  font-size: 24px;
  color: #b5b5b5;
  padding: 20px 0;
  font-weight: 400;
}
footer .footer .footer-section .footer-top .about-footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer .footer-section .footer-top .about-footer nav ul li a {
  font-size: 16px;
  color: #b5b5b5;
  font-weight: 400;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-top .about-footer nav ul li a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-top .event-footer h1 {
  font-size: 24px;
  color: #b5b5b5;
  padding: 20px 0;
  font-weight: 400;
}
footer .footer .footer-section .footer-top .event-footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer .footer-section .footer-top .event-footer nav ul li a {
  font-size: 16px;
  color: #b5b5b5;
  font-weight: 400;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-top .event-footer nav ul li a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-bottom {
  border-top: 1px solid #9b804e;
  text-align: center;
  padding-top: 40px;
}
footer .footer .footer-section .footer-bottom p {
  font-size: 16px;
  color: #b5b5b5;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-bottom p a {
  color: #b5b5b5;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-bottom p a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-bottom p:hover {
  color: #9b804e;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer .footer-section .footer-top {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  footer .footer .footer-section .footer-info .footer-btn {
    flex-direction: column;
  }
  footer .footer .footer-section .footer-top {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 250px) and (max-width: 480px) {
  footer .footer .footer-section .footer-info .footer-btn {
    flex-direction: column;
    font-size: 13px;
  }
  footer .footer .footer-section .footer-top {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

#banner-section {
  padding: 3rem 0;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-section .slider {
  position: absolute;
  inset: 80px 50px 80px 80px;
  background-color: #ccc;
}
#banner-section .slider .slides {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 240px;
  height: 320px;
  transition: all 0.5s;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#banner-section .slider .slides:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
  background-image: url("../images/Herittage-home-3-slider-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner-section .slider .slides:nth-child(1) .content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1ms;
}
#banner-section .slider .slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
  background-image: url("../images/Herittage-home-3-slider-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner-section .slider .slides:nth-child(2) .content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}
#banner-section .slider .slides:nth-child(3) {
  left: calc(50% + 240px);
  background-image: url("../images/Herittage-home-3-slider-3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner-section .slider .slides:nth-child(4) {
  left: calc(50% + 500px);
  background-image: url("../images/Herittage-home-3-slider-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner-section .slider .slides:nth-child(5) {
  left: calc(50% + 760px);
  background-image: url("../images/Herittage-home-3-slider-3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner-section .slider .slides:nth-child(6) {
  left: calc(50% + 1020px);
  background-image: url("../images/Herittage-home-3-slider-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}
#banner-section .slider .content {
  position: relative;
  padding: 40px;
  max-width: 600px;
  transition: all 0.3s;
  transition-delay: 0s;
  transform: translateY(50px);
  z-index: 11100000;
  opacity: 0;
}
#banner-section .slider .content h1 {
  font-size: 70px;
  color: #fff;
  font-weight: 400;
  font-family: "Forum", serif;
}
#banner-section .slider .content p {
  padding: 10px 0;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 14px;
  color: #3d3931;
}
@media (max-width: 900px) {
  #banner-section .slider {
    position: absolute;
    inset: 40px 40px 200px 40px;
  }
  #banner-section .slider .slides {
    width: 100px;
    height: 100px;
    bottom: -200px;
    top: initial;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }
  #banner-section .slider .slides:nth-child(1) {
    top: initial;
    bottom: 0px;
  }
  #banner-section .slider .slides:nth-child(2) {
    top: initial;
    bottom: 0px;
  }
  #banner-section .slider .slides:nth-child(3) {
    left: 0;
  }
  #banner-section .slider .slides:nth-child(4) {
    left: 120px;
  }
  #banner-section .slider .slides:nth-child(5) {
    left: 240px;
  }
  #banner-section .slider .slides:nth-child(6) {
    left: 360px;
  }
}
#banner-section .buttons {
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 20px;
}
#banner-section .buttons span {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#banner-section .buttons span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 4px solid #9b804e;
  border-left: 4px solid #9b804e;
  transform: rotate(315deg) translate(2px, 2px);
}
#banner-section .buttons span:nth-child(2)::before {
  transform: rotate(135deg) translate(2px, 2px);
}
#banner-section .buttons span.active {
  opacity: 0.5;
}

#elit {
  background-image: url("../images/bg-art-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#elit .elit-section {
  padding: 60px 0;
  background-color: rgba(247, 245, 240, 0.945);
}
#elit .elit-section .divine-elite {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#elit .elit-section .divine-elite .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#elit .elit-section .divine-elite .info h5 {
  font-size: 14px;
  color: #9b804e;
  font-weight: 500;
}
#elit .elit-section .divine-elite .info h1 {
  font-size: 70px;
  color: #3d3931;
  font-family: "Forum", serif;
  font-weight: 400;
}
#elit .elit-section .divine-elite .info p {
  font-size: 16px;
  color: #3d3931;
  font-weight: 400;
  max-width: 700px;
  line-height: 25px;
}

#luxury-section {
  padding: 2rem 0;
  background-color: #fbf6e8;
}
#luxury-section .luxury-section .luxury-info {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}
#luxury-section .luxury-section .luxury-info img {
  width: 150px;
}
#luxury-section .luxury-section .luxury-info h1 {
  font-size: 70px;
  color: #3d3931;
  font-family: "Forum", serif;
  font-weight: 400;
  line-height: 70px;
}
#luxury-section .luxury-section .luxury-info p {
  font-size: 16px;
  color: #3d3931;
  line-height: 26px;
  max-width: 700px;
  font-weight: 400;
}
#luxury-section .luxury-section .products-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#luxury-section .luxury-section .products-section .product-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#luxury-section .luxury-section .products-section .product-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 70%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 2;
  transition: all 0.5s;
  opacity: 0;
}
#luxury-section .luxury-section .products-section .product-card:hover::before {
  opacity: 1;
}
#luxury-section .luxury-section .products-section .product-card:hover img {
  transform: scale(1.1);
}
#luxury-section .luxury-section .products-section .product-card img {
  width: 100%;
  transition: all 0.6s;
}
#luxury-section .luxury-section .products-section .product-card button {
  padding: 8px 15px;
  border: 1px solid transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: #9b804e;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 33;
}
#luxury-section .luxury-section .products-section .product-card .card-info {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#luxury-section .luxury-section .products-section .product-card .card-info a h3 {
  font-size: 14px;
  color: #9b804e;
  font-weight: 500;
  transition: all 0.6s;
}
#luxury-section .luxury-section .products-section .product-card .card-info a h3:hover {
  color: #3d3931;
}
#luxury-section .luxury-section .products-section .product-card .card-info a h1 {
  font-size: 40px;
  font-family: "Forum", serif;
  font-weight: 400;
  line-height: 70px;
  color: #3d3931;
  transition: all 0.6s;
}
#luxury-section .luxury-section .products-section .product-card .card-info a h1:hover {
  color: #9b804e;
}
#luxury-section .luxury-section .products-section .product-card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  opacity: 0;
  transition: all 0.6s;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 444;
}
#luxury-section .luxury-section .products-section .product-card .card-details .icons {
  display: flex;
  gap: 20px;
  transform: translateX(0);
  transition: all 0.6s;
}
#luxury-section .luxury-section .products-section .product-card .card-details .icons i {
  font-size: 15px;
  color: #fff;
}
#luxury-section .luxury-section .products-section .product-card .card-details a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
  transform: translateX(0);
  transition: all 0.6s;
}
#luxury-section .luxury-section .products-section .product-card:hover .card-details {
  opacity: 1;
}
#luxury-section .luxury-section .products-section .product-card:hover .card-details .icons {
  transform: translateX(20px);
}
#luxury-section .luxury-section .products-section .product-card:hover .card-details a {
  transform: translateX(-20px);
}
@media (min-width: 768px) and (max-width: 1024px) {
  #luxury-section .luxury-section .products-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #luxury-section .luxury-section .luxury-info h1 {
    font-size: 45px;
    line-height: 40px;
  }
  #luxury-section .luxury-section .products-section {
    grid-template-columns: repeat(1, 1fr);
  }
  #luxury-section .luxury-section .products-section .product-card:hover::before {
    opacity: 0;
  }
  #luxury-section .luxury-section .products-section .product-card .card-details {
    top: 60%;
  }
}
@media (min-width: 250px) and (max-width: 480px) {
  #luxury-section .luxury-section .luxury-info h1 {
    font-size: 45px;
    line-height: 40px;
  }
  #luxury-section .luxury-section .products-section {
    grid-template-columns: repeat(1, 1fr);
  }
  #luxury-section .luxury-section .products-section .product-card:hover::before {
    opacity: 0;
  }
  #luxury-section .luxury-section .products-section .product-card:hover .card-details {
    opacity: 0;
  }
}

#elementar-section {
  position: relative;
  overflow: hidden;
  padding: 150px 0;
}
#elementar-section::after {
  content: "";
  position: absolute;
  top: -5%;
  left: 0;
  width: 58%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  border-radius: 0% 35% 35% 0%/0% 50% 50% 0%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.5);
  z-index: -1;
}
#elementar-section .back-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
#elementar-section .elementar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#elementar-section .elementar-content .background-container-heading {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#elementar-section .elementar-content .background-container-heading h1 {
  font-size: 80px;
  z-index: 11112;
  color: rgba(180, 180, 180, 0.5803921569);
  font-weight: 400;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
#elementar-section .elementar-content .hotel {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
#elementar-section .elementar-content .hotel h1 {
  font-size: 86px;
  z-index: 11112;
  color: #fbf6e8;
  font-weight: 400;
  letter-spacing: 10px;
}
#elementar-section .elementar-content .hotel img {
  width: 150px;
}
#elementar-section .elementar-content .hotel h3 {
  font-size: 24px;
  color: #9b804e;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 10px;
}
#elementar-section .elementar-content .hotel h4 {
  font-size: 116px;
  color: #fbf6e8;
  font-weight: 400;
  font-family: "Forum", serif;
}
#elementar-section .elementar-content .hotel p {
  font-size: 18px;
  max-width: 450px;
  letter-spacing: 1.5px;
  line-height: 28px;
  color: #fff;
  font-weight: 400;
}
#elementar-section .elementar-content .background-section-right {
  width: 40%;
}
@media (min-aspect-ration: 16/9) {
  #elementar-section .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ration: 16/9) {
  #elementar-section .back-video {
    width: auto;
    height: 100%;
  }
}

#customer .customer {
  padding: 60px 0;
  background-color: rgba(247, 245, 240, 0.945);
}
#customer .customer .customer-section .customer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}
#customer .customer .customer-section .customer-info h5 {
  font-size: 14px;
  color: #9b804e;
  font-weight: 400;
}
#customer .customer .customer-section .customer-info h1 {
  font-size: 70px;
  color: #3d3931;
  font-family: "Forum", serif;
  font-weight: 400;
}
#customer .customer .customer-section .customer-info p {
  font-size: 14px;
  color: #3d3931;
  font-weight: 400;
  max-width: 700px;
  line-height: 25px;
}
#customer .customer .customer-section .customer-carousel .item-content {
  background-color: #fbf6e8;
  padding: 20px;
  border-radius: 20px;
  cursor: grab;
}
#customer .customer .customer-section .customer-carousel .item-content p {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  font-family: "Forum", serif;
  line-height: 30px;
}
#customer .customer .customer-section .customer-carousel .item-content .card-bottom {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
#customer .customer .customer-section .customer-carousel .item-content .card-bottom img {
  width: 25%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
#customer .customer .customer-section .customer-carousel .item-content .card-bottom .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#customer .customer .customer-section .customer-carousel .item-content .card-bottom .info .star-icons i {
  font-size: 15px;
  color: #9b804e;
}
#customer .customer .customer-section .customer-carousel .item-content .card-bottom .info h5 {
  font-size: 16px;
  color: #3d3931;
  font-weight: 700;
}
#customer .customer .customer-section .customer-carousel .item-content .card-bottom .info h5 span {
  color: #9b804e;
  font-weight: 400;
  line-height: 25px;
}

#blog {
  padding: 2rem 0;
  background-color: #fcf9ef;
}
#blog .blog-section .blog-info {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
#blog .blog-section .blog-info h5 {
  font-size: 14px;
  font-weight: 500;
  color: #9b804e;
  letter-spacing: 5px;
}
#blog .blog-section .blog-info h1 {
  font-size: 70px;
  color: #3d3931;
  font-weight: 400;
  font-family: "Forum", serif;
}
#blog .blog-section .blog-info p {
  max-width: 700px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #3d3931;
}
#blog .blog-section .blog-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
#blog .blog-section .blog-boxes .blog-box {
  box-shadow: 5px 5px 20px #fdd;
}
#blog .blog-section .blog-boxes .blog-box img {
  width: 100%;
}
#blog .blog-section .blog-boxes .blog-box .intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 30px 10px;
}
#blog .blog-section .blog-boxes .blog-box .intro a {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  font-size: 14px;
}
#blog .blog-section .blog-boxes .blog-box .intro a h3 {
  color: #3d3931;
  font-family: "Forum", serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#blog .blog-section .blog-boxes .blog-box .intro a span {
  color: #9b804e;
  letter-spacing: 3px;
}
#blog .blog-section .blog-boxes .blog-box .intro h1 {
  font-size: 40px;
  color: #3d3931;
  font-weight: 400;
  font-family: "Forum", serif;
}
#blog .blog-section .blog-boxes .blog-box .intro p {
  font-size: 16px;
  color: #3d3931;
  font-weight: 400;
  max-width: 500px;
  line-height: 20px;
}
#blog .blog-section .blog-boxes .blog-box .intro .read-more {
  font-size: 16px;
  color: #3d3931;
  font-weight: 500;
  transition: all 0.6s;
}
#blog .blog-section .blog-boxes .blog-box .intro .read-more:hover {
  color: #9b804e;
}
@media (min-width: 481px) and (max-width: 767px) {
  #blog .blog-section .blog-boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 250px) and (max-width: 480px) {
  #blog .blog-section .blog-info h5 {
    font-size: 10px;
  }
  #blog .blog-section .blog-info h1 {
    font-size: 40px;
  }
  #blog .blog-section .blog-info p {
    font-size: 15px;
  }
  #blog .blog-section .blog-boxes {
    grid-template-columns: repeat(1, 1fr);
  }
  #blog .blog-section .blog-boxes .blog-box .intro a {
    font-size: 10px;
  }
  #blog .blog-section .blog-boxes .blog-box .intro h1 {
    font-size: 25px;
  }
  #blog .blog-section .blog-boxes .blog-box .intro p {
    font-size: 15px;
  }
}

#instagram-photos {
  padding: 2.5rem 0;
}
#instagram-photos .carousel-wrap .item .item-content {
  overflow: hidden;
  border-radius: 20px;
  cursor: grab;
}
#instagram-photos .carousel-wrap .item .item-content img {
  width: 100%;
  border-radius: 20px;
  transition: all 0.6s;
}
#instagram-photos .carousel-wrap .item .item-content:hover img {
  transform: scale(1.1);
}/*# sourceMappingURL=home.css.map */