@import "./base/reset";
@import "./base/global";
@import "./utilits/mixin";
@import "./utilits/variables";
@import "./layouts/header";
@import "./layouts/footer";

#hero-banner-sec {
  overflow: hidden;
  padding: 300px 0;
  background-color: rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 1100px) {
    padding: 150px 0;
  }
  .empty {
    .back-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    .banner-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h1 {
          font-size: 86px;
          color: #fff;
          font-weight: 400;
          font-family: "Forum", serif;
          max-width: 700px;
          line-height: 76px;

          @media screen and (max-width: 767px) {
            font-size: 35px;
          }
        }
      }
    }

    @media (min-aspect-ratio: 16/9) {
      .back-video {
        width: 100%;
        height: auto;
      }
    }
    @media (max-aspect-ratio: 16/9) {
      .back-video {
        // width: auto;
        height: 100%;
      }
    }
  }
}

// MENU-SECTION-STARTERS

#starters-sec {
  padding: 4.5rem 0;
  background-color: #1b1b1b;
  .starters-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .sec-right {
      position: relative;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      img {
        width: 100%;
        transition: all 0.6s;
      }
      h3 {
        position: absolute;
        top: 40%;
        left: 40%;
        color: #fff;
        font-size: 40px;
        font-weight: 400;
        font-family: "Forum", serif;
        @media screen and (max-width: 481px) {
          font-size: 25px;
        }
      }
    }
    .sec-left {
      .menu-btns {
        display: flex;
        // justify-content: center;
        gap: 20px;
        padding-bottom: 10px;

        @media screen and (max-width: 767px) {
          flex-direction: column;
          button {
            width: 200px;
          }
        }
        button {
          padding: 10px 20px;
          border: 1px solid transparent;
          background-color: #9b804e;
          border-radius: 20px;
          cursor: pointer;
          transition: all 0.6s;
          // text-align: center;

          // &:hover {
          //   box-shadow: inset 10em 0 0 0 #fff;
          //   color: #9b804e;
          // }

          &.active {
            background-color: transparent;
            border: 1px solid #9b804e;
            color: #fff;
            // &:hover {
            //   box-shadow: inset 10em 0 0 0 #fff;
            //   color: #9b804e;
            // }
          }
        }
      }
      .menu-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        .item-menu {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          padding: 20px;
          transition: all 0.7s;
          position: relative;
          cursor: pointer;
          .hover-image {
            position: absolute;
            top: 0;
            left: 50%;
            opacity: 0;
            transition: opacity 0.7s ease, transform 0.7s ease;
            width: 100px;
            border-radius: 50%;
          }

          &:hover {
            .hover-image {
              opacity: 1;
              left: 20%;
              transform: translateX(-100%);
            }
          }

          .item-right {
            display: flex;
            gap: 10px;
            @media screen and (max-width: 481px) {
              flex-direction: column;
            }
            img {
              width: 70px;
              border-radius: 50%;
            }
            .texts {
              h3 {
                font-size: 20px;
                color: #fff;
                padding-bottom: 10px;
                font-weight: 400;
                font-family: "Forum", serif;
              }
              h6 {
                display: none;
              }
              p {
                font-size: 15px;
                font-style: italic;
                color: #404044;
              }
            }
          }
          .item-left {
            .basket {
              display: flex;
              gap: 10px;
              align-items: center;

              p {
                font-size: 16px;
                color: #c19d60;
              }
              .fa-heart {
                font-size: 16px;
                color: #c19d60;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

// OUR-CHEF

#our-chef-sec {
  padding: 3rem 0;
  background-color: #1b1b1b;

  .our-chef {
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 30px 0;
      h4 {
        font-size: 14px;
        color: #fff;
      }
      h1 {
        font-size: 70px;
        font-weight: 400;
        color: #fff;
        @media screen and (max-width: 767px) {
          font-size: 40px;
        }
      }
      p {
        font-size: 16px;
        max-width: 600px;
        color: #fff;
        font-style: italic;
        line-height: 30px;
        @media screen and (max-width: 767px) {
          font-size: 15px;
        }
      }
    }

    .chef-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
      }
      .item {
        position: relative;
        z-index: 2;
        overflow: hidden;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 6;
          //   background-color: #404044;
          background: rgba(0, 0, 0, 0.6);
          display: none;
        }

        &:hover {
          &::before {
            display: block;
          }
          .chef-info {
            top: 0;
          }
        }
        .item-image {
          img {
            width: 100%;
          }
        }
        .chef-info {
          position: absolute;
          top: 130%;
          left: 0;
          right: 0;
          bottom: 0;
          //   top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10;
          transition: all 1s;
          text-align: center;
          h3 {
            font-size: 25px;
            font-weight: 400;
            color: #fff;
          }
          p {
            font-size: 15px;
            color: #efa824;
            font-style: italic;
            padding: 10px 0;
          }
          ul {
            padding: 10px 0;
            display: flex;
            gap: 20px;
            li {
              a {
                font-size: 20px;
                color: #fff;
                padding: 10px 15px;
                border: 1px solid #fff;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
}
