#main {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 100px;
  margin: auto;
  background: white;
  #container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    margin: auto;
    #left-div {
      display: flex;
      flex-direction: column;
      flex-basis: 45%;
      img {
        width: 90%;
        margin: auto;

        &:hover {
          animation: rotate 4s infinite 0s, background 4s infinite 0s;
        }
        @keyframes rotate {
          0% {
            transform: rotateZ(0deg);
          }
          25% {
            transform: rotateZ(90deg);
          }
          50% {
            transform: rotateZ(180deg);
          }
          75% {
            transform: rotateZ(270deg);
          }
          100% {
            transform: rotateZ(360deg);
          }
        }
        @keyframes background {
          0% {
            background: rebeccapurple;
          }
          25% {
            background: blueviolet;
          }
          50% {
            background: greenyellow;
          }
          75% {
            background: darkorange;
          }
          100% {
            background: dimgrey;
          }
        }
      }
    }
    #right-div {
      display: flex;
      flex-direction: column;
      flex-basis: 55%;
      h1 {
        font-family: "Space Mono", monospace;
        padding-top: 95px;
        min-width: 60%;
        min-height: 50px;
        padding-left: 10px;
        opacity: 0.8;
        margin-top: -35px;
      }
      p {
        margin-left: 10px;
      }
      a {
        font-family: "Space Mono", monospace;
        width: 70%;
        min-height: 50px;
        text-align: center;
        background: black;
        margin-top: 30px;
        margin-left: 10px;
        color: white;
        font-size: 1.9vw;
        line-height: 50px;
        text-decoration: none;
        border-radius: 5px;
        opacity: 0.8;
        transition: background 2s ease-in-out 1000ms;
        &:hover {
          background: orange;
        }
      }
    }
  }

  @media (max-width: 768px) {
    div a {
      font-size: 1.8vw;
      width: 25vw;
    }
    #footer {
      width: 70vw;
    }
    #right-div h1 {
      width: 40vw;
    }
    #right-div p {
      margin-left: 0px;
    }
  }
}

/* MEDIA QUERY STARTS HERE */
