* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Lora", serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .container {
    padding: 0 5%;
  }
}

body.show-menu #about-menu {
  right: 0;
  transition: all 0.8s;
}
body.show-account .acoount {
  left: 0;
  transition: all 0.8s;
}

.cursor .cursor-dot {
  width: 6px;
  height: 6px;
  background-color: rgb(195, 161, 109);
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}
.cursor .cursor-outline {
  width: 40px;
  height: 40px;
  border: 3px solid rgb(195, 161, 109);
  box-shadow: 1px 1px 1px #c19d68;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loading-container .loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #c19d68;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.arrow-up {
  position: fixed;
  bottom: 10px;
  right: 16px;
  opacity: 0;
  transition: all 0.7s;
  z-index: 11211212;
}
.arrow-up a {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  background-color: #c19d68;
  border-radius: 50%;
}
.arrow-up.active {
  opacity: 1;
  bottom: 35px;
}

header {
  position: absolute;
  width: 100%;
  z-index: 99;
  transition: all 0.7s;
}
header #header-top .header-top {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header-top .header-top .header-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header #header-top .header-top .header-top-right a {
  font-size: 14px;
  color: #3d3931;
  font-weight: 500;
  transition: all 0.6s;
  color: #7e7351;
}
header #header-top .header-top .header-top-right a:hover {
  color: #9b804e;
}
header #header-top .header-top .header-top-right h5 {
  font-size: 15px;
  color: #3d3931;
  font-weight: 500;
  color: #8a7c52;
}
header #header-top .header-top .header-top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
header #header-top .header-top .header-top-left .navbar-search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header #header-top .header-top .header-top-left .navbar-search .menu-circle {
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
  cursor: pointer;
}
header #header-top .header-top .header-top-left .navbar-search .menu-circle .circle {
  width: 13px;
  height: 13px;
  border: 2px solid rgba(255, 255, 255, 0.6666666667);
  border-radius: 50%;
  transition: all 0.5s;
}
header #header-top .header-top .header-top-left .navbar-search .menu-circle:hover .circle-x {
  transform: translateY(7.5px);
}
header #header-top .header-top .header-top-left .navbar-search .menu-circle:hover .circle-y {
  transform: translateY(-7.5px);
}
header #header-top .header-top .header-top-left .my-account img {
  width: 40px;
}
header .elementar-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .elementar-section .border-bottom {
  width: 90%;
  height: 1px;
  background-color: #9b804e;
}
header #header-bottom {
  padding: 30px 0;
}
header #header-bottom .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header-bottom .header-bottom .logo a img {
  width: 80px;
}
header #header-bottom .header-bottom nav ul {
  display: flex;
  gap: 20px;
}
header #header-bottom .header-bottom nav ul li:hover ul.dropdown {
  display: block;
}
header #header-bottom .header-bottom nav ul li a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5725490196);
  text-transform: uppercase;
  line-height: 25px;
  font-weight: bold;
  transition: all 0.5s;
}
header #header-bottom .header-bottom nav ul li a i {
  margin-left: 5px;
  font-size: 13px;
}
header #header-bottom .header-bottom nav ul li a.active {
  color: #9b804e;
}
header #header-bottom .header-bottom nav ul li a:hover {
  color: #9b804e;
}
header #header-bottom .header-bottom nav ul li .drop-down {
  padding-top: 20px;
}
header #header-bottom .header-bottom nav ul li .drop-down .dropdown {
  position: absolute;
  background-color: #fffcf2;
  padding: 10px 30px;
  line-height: 10px;
  display: none;
}
header #header-bottom .header-bottom nav ul li .drop-down .dropdown li a {
  color: #3d3931;
  font-size: 13px;
  font-weight: bold;
  margin: 50px 0;
}
header #header-bottom .header-bottom nav ul li .drop-down .dropdown li a:hover {
  color: #efa824;
}
header #header-bottom .header-bottom #menu-icon {
  display: none;
  font-size: 20px;
  cursor: pointer;
  color: #3d3931;
  transition: all 0.6s;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.7098039216);
  box-shadow: 3px 2px 5px rgba(221, 221, 221, 0.2);
}
header #header-bottom .header-bottom .fa-xmark {
  font-size: 20px;
  cursor: pointer;
  color: #3d3931;
  transition: all 0.6s;
}
@media (min-width: 481px) and (max-width: 767px) {
  header #header-top {
    display: none;
  }
  header .elementar-section {
    display: none;
  }
  header #header-bottom .header-bottom nav {
    position: fixed;
    width: 50%;
    top: 0;
    left: -800px;
    background-color: #fffcf2;
    transition: all 0.8s;
    height: 100%;
    border-right: 5px solid #d59d33;
    border-radius: 10px;
  }
  header #header-bottom .header-bottom nav ul {
    flex-direction: column;
    padding: 30px;
  }
  header #header-bottom .header-bottom nav ul li a {
    color: #3d3931;
  }
  header #header-bottom .header-bottom nav.show {
    left: 0;
  }
  header #header-bottom .header-bottom #menu-icon {
    display: block;
  }
  header #header-bottom .header-bottom .menu-circle {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  header #header-top {
    display: none;
  }
  header .elementar-section {
    display: none;
  }
  header #header-bottom .header-bottom nav {
    position: fixed;
    width: 50%;
    top: 0;
    left: -800px;
    background-color: #fffcf2;
    transition: all 0.8s;
    height: 100%;
    border-right: 5px solid #d59d33;
    border-radius: 10px;
  }
  header #header-bottom .header-bottom nav ul {
    flex-direction: column;
    padding: 30px;
  }
  header #header-bottom .header-bottom nav ul li a {
    color: #3d3931;
  }
  header #header-bottom .header-bottom nav.show {
    left: 0;
  }
  header #header-bottom .header-bottom #menu-icon {
    display: block;
  }
  header #header-bottom .header-bottom .menu-circle {
    display: none;
  }
}
header.header-scroll {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11111;
}
header.header-scroll #header-top {
  display: none;
}
header.header-scroll #header-bottom {
  padding: 1rem 0;
}
header.header-scroll .elementar-section {
  display: none;
}

.acoount {
  width: 200px;
  background-color: #fffcf2;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -800px;
  z-index: 111;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: all 0.7s;
  z-index: 999999;
  overflow: auto;
}
.acoount .home-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
  position: relative;
}
.acoount .home-account a i {
  color: #000;
  font-size: 30px;
  transition: all 0.7s;
}
.acoount .home-account a i:hover {
  color: #8a7c52;
  transform: scale(1.1);
}

#about-menu {
  width: 500px;
  background-color: #fffcf2;
  color: #fff;
  position: fixed;
  top: 0;
  right: -550px;
  bottom: 0;
  z-index: 111;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: all 0.7s;
  z-index: 999999;
  overflow: auto;
}
#about-menu .about-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  position: relative;
}
#about-menu .about-menu a img {
  width: 100px;
}
#about-menu .about-menu .fa-regular {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 25px;
  color: #9b804e;
  cursor: pointer;
  transition: all 0.7s;
}
#about-menu .about-menu .fa-regular:hover {
  transform: scale(1.1);
}
#about-menu .about-menu .about {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#about-menu .about-menu .about a {
  font-size: 16px;
  color: #9b804e;
}
#about-menu .about-menu .about p {
  font-size: 16px;
  color: #3d3931;
}
#about-menu .about-menu .about .icons {
  display: flex;
  gap: 10px;
}
#about-menu .about-menu .about .icons a {
  font-size: 16px;
}
#about-menu .about-menu .contact {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
#about-menu .about-menu .contact h5 {
  font-size: 26px;
  color: #9b804e;
  font-family: "Forum", serif;
}
#about-menu .about-menu .contact a {
  font-size: 16px;
  color: #3d3931;
  transition: all 0.6s;
}
#about-menu .about-menu .contact a i {
  margin-right: 9px;
  color: #9b804e;
  font-size: 16px;
}
#about-menu .about-menu .contact a:hover {
  color: #9b804e;
}
#about-menu .about-menu .contact p {
  font-size: 16px;
  color: #3d3931;
}
#about-menu .about-menu .menu-btn {
  display: flex;
  gap: 20px;
}
#about-menu .about-menu .menu-btn button {
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.7s;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #fff;
}
#about-menu .about-menu .menu-btn button:nth-child(1) {
  background-color: #9b804e;
}
#about-menu .about-menu .menu-btn button:nth-child(1):hover {
  box-shadow: inset -6.5em 0 0 0 #fff, inset 6.5em 0 0 0 #fff;
  color: #9b804e;
}
#about-menu .about-menu .menu-btn button:nth-child(2) {
  background-color: #413d31;
}
#about-menu .about-menu .menu-btn button:nth-child(2):hover {
  box-shadow: inset -6.5em 0 0 0 #fff, inset 6.5em 0 0 0 #fff;
  color: #413d31;
}

footer {
  background-image: url("../images/Footer-image-1b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer {
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.8);
}
footer .footer .footer-section .footer-info {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .footer .footer-section .footer-info img {
  width: 100px;
}
footer .footer .footer-section .footer-info p {
  font-size: 16px;
  max-width: 500px;
  color: #b5b5b5;
  line-height: 26px;
  font-weight: 400;
}
footer .footer .footer-section .footer-info .footer-btn {
  display: flex;
  gap: 20px;
  align-items: center;
}
footer .footer .footer-section .footer-info .footer-btn a {
  padding: 13px 30px;
  color: #fff;
  transition: all 0.6s;
}
footer .footer .footer-section .footer-info .footer-btn a i {
  margin-right: 8px;
}
footer .footer .footer-section .footer-info .footer-btn a:nth-child(1) {
  background-color: #9b804e;
}
footer .footer .footer-section .footer-info .footer-btn a:nth-child(1):hover {
  box-shadow: inset -7.5em 0 0 0 #3d3931, inset 7.5em 0 0 0 #3d3931;
}
footer .footer .footer-section .footer-info .footer-btn a:nth-child(2) {
  background-color: #3d3931;
}
footer .footer .footer-section .footer-info .footer-btn a:nth-child(2):hover {
  box-shadow: inset 10em 0 0 0 #9b804e, inset -10em 0 0 0 #9b804e;
}
footer .footer .footer-section .footer-top {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
footer .footer .footer-section .footer-top .footer-contact h1 {
  font-size: 24px;
  color: #b5b5b5;
  padding: 20px 0;
  font-weight: 400;
}
footer .footer .footer-section .footer-top .footer-contact nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer .footer-section .footer-top .footer-contact nav ul li a {
  font-size: 16px;
  color: #b5b5b5;
  font-weight: 400;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-top .footer-contact nav ul li a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-top .footer-help h1 {
  font-size: 24px;
  color: #b5b5b5;
  padding: 20px 0;
  font-weight: 400;
}
footer .footer .footer-section .footer-top .footer-help nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer .footer-section .footer-top .footer-help nav ul li a {
  font-size: 16px;
  color: #b5b5b5;
  font-weight: 400;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-top .footer-help nav ul li a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-top .services-footer h1 {
  font-size: 24px;
  color: #b5b5b5;
  padding: 20px 0;
  font-weight: 400;
}
footer .footer .footer-section .footer-top .services-footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer .footer-section .footer-top .services-footer nav ul li a {
  font-size: 16px;
  color: #b5b5b5;
  font-weight: 400;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-top .services-footer nav ul li a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-top .about-footer h1 {
  font-size: 24px;
  color: #b5b5b5;
  padding: 20px 0;
  font-weight: 400;
}
footer .footer .footer-section .footer-top .about-footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer .footer-section .footer-top .about-footer nav ul li a {
  font-size: 16px;
  color: #b5b5b5;
  font-weight: 400;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-top .about-footer nav ul li a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-top .event-footer h1 {
  font-size: 24px;
  color: #b5b5b5;
  padding: 20px 0;
  font-weight: 400;
}
footer .footer .footer-section .footer-top .event-footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer .footer-section .footer-top .event-footer nav ul li a {
  font-size: 16px;
  color: #b5b5b5;
  font-weight: 400;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-top .event-footer nav ul li a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-top .event-footer form input {
  margin-top: 15px;
  padding: 10px 20px;
  width: 200px;
  border: 1px solid transparent;
  font-style: italic;
}
footer .footer .footer-section .footer-top .event-footer form #submit {
  background-color: #9b804e;
  color: #fff;
  cursor: pointer;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
}
footer .footer .footer-section .footer-bottom {
  border-top: 1px solid #9b804e;
  text-align: center;
  padding-top: 40px;
}
footer .footer .footer-section .footer-bottom p {
  font-size: 16px;
  color: #b5b5b5;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-bottom p a {
  color: #b5b5b5;
  transition: all 0.5s;
}
footer .footer .footer-section .footer-bottom p a:hover {
  color: #9b804e;
}
footer .footer .footer-section .footer-bottom p:hover {
  color: #9b804e;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer .footer-section .footer-top {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  footer .footer .footer-section .footer-info .footer-btn {
    flex-direction: column;
  }
  footer .footer .footer-section .footer-top {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  footer .footer .footer-section .footer-info .footer-btn {
    flex-direction: column;
    font-size: 13px;
  }
  footer .footer .footer-section .footer-top {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

#rooms-section {
  background-image: url("../images/about-breadcrumb-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#rooms-section .empty {
  padding: 200px 0;
  background-color: rgba(0, 0, 0, 0.8);
}
#rooms-section .empty .rooms-section {
  text-align: center;
}
#rooms-section .empty .rooms-section h1 {
  font-size: 70px;
  font-weight: 400;
  font-family: "Forum", serif;
  color: #d1d0cd;
}
@media screen and (max-width: 767px) {
  #rooms-section .empty .rooms-section h1 {
    font-size: 40px;
  }
}

#products-section {
  padding: 3rem 0;
}
#products-section .products-section .products-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  #products-section .products-section .products-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  #products-section .products-section .products-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#products-section .products-section .products-cards .product-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#products-section .products-section .products-cards .product-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 70%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 2;
  transition: all 0.5s;
  opacity: 0;
}
#products-section .products-section .products-cards .product-card:hover::before {
  opacity: 1;
}
#products-section .products-section .products-cards .product-card:hover img {
  transform: scale(1.1);
}
#products-section .products-section .products-cards .product-card img {
  width: 100%;
  transition: all 0.6s;
}
#products-section .products-section .products-cards .product-card .price {
  padding: 8px 15px;
  border: 1px solid transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: #9b804e;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 33;
}
#products-section .products-section .products-cards .product-card .card-info {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#products-section .products-section .products-cards .product-card .card-info a h3 {
  font-size: 14px;
  color: #9b804e;
  font-weight: 500;
  transition: all 0.6s;
}
#products-section .products-section .products-cards .product-card .card-info a h3:hover {
  color: #3d3931;
}
#products-section .products-section .products-cards .product-card .card-info a h1 {
  font-size: 40px;
  font-family: "Forum", serif;
  font-weight: 400;
  line-height: 70px;
  color: #3d3931;
  transition: all 0.6s;
}
#products-section .products-section .products-cards .product-card .card-info a h1:hover {
  color: #9b804e;
}
#products-section .products-section .products-cards .product-card .card-info button {
  padding: 6px 20px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid transparent;
  color: #fff;
  font-size: 15px;
  background-color: #9a783a;
}
#products-section .products-section .products-cards .product-card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  opacity: 0;
  transition: all 0.6s;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 444;
}
#products-section .products-section .products-cards .product-card .card-details .icons {
  display: flex;
  gap: 20px;
  transform: translateX(0);
  transition: all 0.6s;
}
#products-section .products-section .products-cards .product-card .card-details .icons i {
  font-size: 15px;
  color: #fff;
}
#products-section .products-section .products-cards .product-card .card-details a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
  transform: translateX(0);
  transition: all 0.6s;
}
#products-section .products-section .products-cards .product-card:hover .card-details {
  opacity: 1;
}
#products-section .products-section .products-cards .product-card:hover .card-details .icons {
  transform: translateX(20px);
}
#products-section .products-section .products-cards .product-card:hover .card-details a {
  transform: translateX(-20px);
}
@media screen and (max-width: 767px) {
  #products-section .products-section .products-cards .product-card:hover::before {
    opacity: 0;
  }
  #products-section .products-section .products-cards .product-card:hover .card-details {
    opacity: 0;
  }
}
#products-section .products-section .load-more-btn {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#products-section .products-section .load-more-btn button {
  padding: 10px 20px;
  color: #fff;
  background-color: #9b804e;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.6s;
}
#products-section .products-section .load-more-btn button:hover {
  box-shadow: inset 6em 0 0 0 #fff, inset -6em 0 0 0 #fff;
  color: #9b804e;
}

.animation .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .animation .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .animation .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.animation .content .card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e9cc98;
}
.animation .content .card .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
}
.animation .content .card .slide {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}
.animation .content .card .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.7s;
  transform: translateY(100px);
}
.animation .content .card:hover .slide.slide1 {
  transform: translateY(0px);
}
.animation .content .card .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
.animation .content .card:hover .slide.slide2 {
  transform: translateY(0);
}
.animation .content .card .slide.slide2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: #2c73df;
}
.animation .content .card .slide.slide2 .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.animation .content .card .slide.slide2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}
.animation .content .card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
}

#instagram-photos {
  padding: 2.5rem 0;
}
#instagram-photos .carousel-wrap .item .item-content {
  overflow: hidden;
  border-radius: 20px;
  cursor: grab;
}
#instagram-photos .carousel-wrap .item .item-content img {
  width: 100%;
  border-radius: 20px;
  transition: all 0.6s;
}
#instagram-photos .carousel-wrap .item .item-content:hover img {
  transform: scale(1.1);
}/*# sourceMappingURL=room.css.map */