@import "./base/reset";
@import "./base/global";
@import "./utilits/mixin";
@import "./utilits/variables";
// @import "./layouts/header";
@import "./layouts/footer";

// HERO-BANNER-SECTION-ROOMS

header {
  position: absolute;
  width: 100%;
  z-index: 99;
  transition: all 0.7s;
  background-color: rgba(0, 0, 0, 0.1);

  #header-top {
    .header-top {
      padding: 10px 0;
      //   border-bottom: 1px solid #9b804e;
      @include flexbox();

      .header-top-right {
        // padding: 0 40px;
        @include flexbox(center);
        gap: 20px;
        a {
          font-size: 14px;
          color: $color-brown;
          font-weight: 500;
          transition: all 0.6s;
          color: #7e7351;
          &:hover {
            color: #9b804e;
          }
        }
        h5 {
          font-size: 15px;
          color: $color-brown;
          font-weight: 500;
          color: #8a7c52;
        }
      }
      .header-top-left {
        display: flex;
        // padding: 0 40px;
        gap: 10px;
        a {
          font-size: 14px;
          font-weight: 500;
          color: $color-brown;
          transition: all 0.6s;
          color: #a28f57;
          &:hover {
            color: #9b804e;
          }
        }
        span {
          color: $color-brown;
        }
      }
    }
  }
  .elementar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    .border-bottom {
      width: 90%;
      height: 1px;
      background-color: #9b804e;
    }
  }

  #header-bottom {
    padding: 30px 0;
    .header-bottom {
      @include flexbox();
      .logo {
        a {
          img {
            width: 80px;
          }
        }
      }

      nav {
        ul {
          display: flex;
          // align-items: center;
          gap: 20px;
          li {
            &:hover ul.dropdown {
              display: block;
            }
            a {
              font-size: 14px;
              color: #fff;
              text-transform: uppercase;
              line-height: 25px;
              font-weight: bold;
              transition: all 0.5s;
              i {
                margin-left: 5px;
                font-size: 13px;
              }

              &.active {
                color: #9b804e;
              }

              &:hover {
                color: #9b804e;
              }
            }

            .drop-down {
              // width: 40%;
              padding-top: 20px;
              .dropdown {
                position: absolute;
                background-color: #fffcf2;
                padding: 10px 30px;
                line-height: 10px;
                display: none;
                li {
                  a {
                    color: $color-brown;
                    font-size: 13px;
                    font-weight: bold;
                    // transition: all 0.6s;
                    margin: 50px 0;

                    &:hover {
                      color: #efa824;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .navbar-search {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .fa-magnifying-glass {
          font-size: 20px;
          cursor: pointer;
          color: #fff;
        }
        #menu-icon {
          display: none;
          font-size: 20px;
          cursor: pointer;
          color: #fff;
          transition: all 0.6s;
        }
        .fa-xmark {
          font-size: 20px;
          cursor: pointer;
          color: #fff;
          transition: all 0.6s;
        }

        .menu-circle {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 3px;
          cursor: pointer;
          .circle {
            width: 13px;
            height: 13px;
            border: 2px solid #fff;
            border-radius: 50%;
            transition: all 0.5s;
          }

          &:hover {
            .circle-x {
              transform: translateY(7.5px);
            }
            .circle-y {
              transform: translateY(-7.5px);
            }
          }
        }
      }
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    #header-top {
      display: none;
    }
    .elementar-section {
      display: none;
    }
    #header-bottom {
      .header-bottom {
        nav {
          // display: none;
          position: fixed;
          width: 50%;
          top: 0;
          left: -800px;
          background-color: #fffcf2;
          transition: all 0.8s;
          height: 100%;
          ul {
            flex-direction: column;
            padding: 30px;
            li {
              a {
                color: #404044;
              }
            }
          }

          &.show {
            left: 0;
          }
        }
        .navbar-search {
          #menu-icon {
            display: block;
          }
          .menu-circle {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    #header-top {
      display: none;
    }
    .elementar-section {
      display: none;
    }
    #header-bottom {
      .header-bottom {
        nav {
          // display: none;
          position: fixed;
          width: 50%;
          top: 0;
          left: -800px;
          background-color: #fffcf2;
          transition: all 0.8s;
          height: 100%;
          ul {
            flex-direction: column;
            padding: 30px;
            li {
              a {
                color: #413d31;
              }
            }
          }

          &.show {
            left: 0;
          }
        }
        .navbar-search {
          #menu-icon {
            display: block;
          }
          .menu-circle {
            display: none;
          }
        }
      }
    }
  }

  &.header-scroll {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    // box-shadow: 5px 5px 5px #ddd;
    z-index: 11111;
    #header-top {
      display: none;
    }
    #header-bottom {
      padding: 1rem 0;
    }
    .elementar-section {
      display: none;
    }
  }
}
#about-menu {
  width: 500px;
  background-color: #fffcf2;
  color: #fff;
  position: fixed;
  top: 0;
  right: -550px;
  bottom: 0;
  z-index: 111;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: all 0.7s;
  z-index: 999999;
  overflow: auto;
  .about-menu {
    // @include flexbox(center);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    position: relative;
    a {
      img {
        width: 100px;
      }
    }

    .fa-regular {
      position: absolute;
      top: 40px;
      right: 40px;
      font-size: 25px;
      color: #9b804e;
      cursor: pointer;
      transition: all 0.7s;
      &:hover {
        transform: scale(1.1);
      }
    }

    .about {
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      a {
        font-size: 16px;
        color: #9b804e;
      }
      p {
        font-size: 16px;
        color: $color-brown;
      }
      .icons {
        display: flex;
        gap: 10px;
        a {
          font-size: 16px;
        }
      }
    }
    .contact {
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
      h5 {
        font-size: 26px;
        color: #9b804e;
        font-family: "Forum", serif;
      }
      a {
        font-size: 16px;
        color: $color-brown;
        transition: all 0.6s;
        i {
          margin-right: 9px;
          color: #9b804e;
          font-size: 16px;
        }

        &:hover {
          color: #9b804e;
        }
      }
      p {
        font-size: 16px;
        color: $color-brown;
      }
    }

    .menu-btn {
      display: flex;
      gap: 20px;
      button {
        padding: 10px 30px;
        cursor: pointer;
        transition: all 0.7s;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid transparent;
        color: #fff;

        &:nth-child(1) {
          background-color: #9b804e;

          &:hover {
            box-shadow: inset -6.5em 0 0 0 #fff, inset 6.5em 0 0 0 #fff;
            color: #9b804e;
          }
        }
        &:nth-child(2) {
          background-color: #413d31;
          &:hover {
            box-shadow: inset -6.5em 0 0 0 #fff, inset 6.5em 0 0 0 #fff;
            color: #413d31;
          }
        }
      }
    }
  }
}

// #rooms-section {
//   background-image: url("../images/about-breadcrumb-1.jpg");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;

//   .empty {
//     padding: 150px 0;
//     background-color: rgba(255, 255, 255, 0.8);

//     .rooms-section {
//       text-align: center;
//       h1 {
//         font-size: 70px;
//         font-weight: 400;
//         font-family: "Forum", serif;
//         color: #3d3931;

//         @media screen and (max-width: 767px) {
//           font-size: 40px;
//         }
//       }
//     }
//   }
// }

#details-carusel {
  .details-carousel {
    .animated {
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-delay: 500ms;
      animation-delay: 500ms;
    }

    .animate-out {
      -webkit-animation-delay: 0ms;
      animation-delay: 0ms;
    }

    h4 {
      font-size: 40px;
      color: #fff;
      font-family: "Cormorant Garamond", serif;
      font-weight: 600;
    }

    p {
      width: 50%;
      text-align: center;
      margin: 0 auto 20px;
      color: #fff;
      max-width: 500px;
      line-height: 30px;
      font-family: "Cormorant Garamond", serif;
      font-weight: 400;
      padding: 20px 0;
      font-size: 20px;
    }

    .owl-item {
      display: table;
    }

    .owl-carousel {
      .item {
        // height: 80vh;
        background-image: url("../images/14.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        .content {
          background-color: rgba(0, 0, 0, 0.7);
          padding: 250px 0;
        }
      }
      .item-2 {
        background-image: url("../images/home-1-interactive-gallery-4.webp");
      }
      .item-3 {
        background-image: url("../images/room-detail-5-900x560.jpg");
      }
    }
  }
}

// DSECRIPTION-SECTION

#desc-sec {
  padding: 3rem 0;

  .description-sec {
    .details-section {
      padding: 3rem 0;

      h5 {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        color: #3d3931;
        padding: 30px 0;

        p {
          font-size: 30px;
          color: #9b804e;
        }
        span {
          font-size: 14px;
          color: #9b804e;
        }
      }
      .slides {
        .item {
          .item-content {
            img {
              width: 100%;
              height: 500px;
            }
          }
        }
      }
    }
    .desc-top {
      padding-top: 50px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgb(195, 192, 192);
      display: flex;
      gap: 20px;

      @media screen and (max-width: 480px) {
        flex-direction: column;
      }
      button {
        font-size: 25px;
        font-weight: 400;
        // padding: 10px 20px;
        border: 1px solid transparent;
        background-color: transparent;
        cursor: pointer;

        &.brown-color {
          color: #f0a84a;
        }
      }
      .border-bottom {
        color: #f0a84a;
      }
    }

    .review-sec {
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      display: none;

      .review-info {
        width: 60%;

        // @media screen and (max-width: 767px) {
        //   width: 400px;
        // }
        // @media screen and (max-width: 430px) {
        //   width: 300px;
        // }
        h3 {
          font-size: 20px;
        }
        h1 {
          // font-weight: 400;
          font-size: 30px;
          color: #1a1a1a;
        }
        h5 {
          font-size: 15px;
          color: #676769;
          padding: 15px 0;
        }
        .icons {
          display: flex;
          gap: 5px;
          i {
            font-size: 20px;
            color: #f0a84a;
            cursor: pointer;
            transition: all 0.7s;

            &:hover {
              color: #f0a84a;
            }
          }
        }
        form {
          padding-top: 15px;
          textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #acacaa;
          }
          input {
            width: 100%;
            margin: 10px 0;
            padding: 10px 15px;
            border: 1px solid #acacaa;
          }
          #review-submit {
            background-color: #b3721e;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
          }
        }
      }
    }

    .desc-bottom {
      padding: 50px 0;
      display: flex;
      // align-items: center;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        // align-items: center;
        row-gap: 30px;
      }
      .bottom-right {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }

        .lorem {
          max-width: 700px;
          // letter-spacing: 1px;
          line-height: 25px;
          color: #3d3931;
          font-size: 15px;
        }
        .check-boxes {
          display: flex;
          align-items: center;
          gap: 20px;
          @media screen and (max-width: 767px) {
            flex-direction: column;
          }

          .check-box {
            padding: 30px 0;
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            // align-items: center;
            justify-content: center;
            p {
              max-width: 300px;
              font-size: 15px;
              color: #3d3931;
            }
            a {
              display: flex;
              align-items: center;
              font-size: 15px;
              color: #3d3931;
              // justify-content: center;
              img {
                width: 60px;
              }
            }
            @media screen and (max-width: 767px) {
              width: 100%;
            }
          }
        }

        .amenities {
          h4 {
            font-size: 30px;
            font-weight: 400;
            color: #3d3931;
            font-family: "Forum", serif;
          }
          .box-grid {
            padding: 30px 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 15px;
            row-gap: 20px;

            @media screen and (max-width: 767px) {
              grid-template-columns: repeat(1, 1fr);
            }
            a {
              font-size: 16px;
              color: #3d3931;
              i {
                margin-right: 3px;
                color: rgb(12, 192, 12);
                font-size: 15px;
              }
              .not {
                color: red;
              }
            }
          }
        }
        .house-rolues {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          @media screen and (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
          }
          .right {
            display: flex;
            flex-direction: column;
            gap: 10px;
            h3 {
              font-weight: 400;
              color: #3d3931;
              font-size: 20px;
            }
            p {
              color: #3d3931;
              font-size: 15px;
              line-height: 25px;
            }
          }

          .left {
            img {
              width: 100%;
            }
          }
        }

        .desc-video {
          display: flex;
          flex-direction: column;
          row-gap: 30px;
          p {
            max-width: 700px;
          }
          .play-icon {
            position: relative;
            img {
              width: 100%;
            }
            a {
              position: absolute;
              top: 40%;
              left: 45%;
              padding: 30px 15px;
              background-color: rgb(255, 255, 255);
              border-radius: 50%;
              font-size: 15px;
              color: #9b804e;
              box-shadow: 5px 10px 20px #9b804e;
              border: 2px solid #9b804e;

              @media screen and (max-width: 480px) {
                left: 35%;
                padding: 20px 10px;
              }
            }
          }
        }
      }
      .bottom-left {
        width: 30%;
        padding-left: 30px;
        @media screen and (max-width: 1024px) {
          width: 50%;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
        }

        .left-boxes {
          border: 2px solid #9b804e;
          border-radius: 5px;
          padding: 10px;
          .empty {
            padding: 20px;
            border: 2px solid #9b804e;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            .top {
              width: 100%;
              .book {
                // width: 100%;
                text-align: center;
                padding: 10px 20px;
                background-color: #8f7646;
                border-radius: 5px;
                border: 1px solid transparent;
                color: #fff;
                cursor: pointer;
                margin-bottom: 10px;
              }
              .grid {
                display: flex;
                flex-direction: column;
                gap: 20px;
                input {
                  padding: 5px 5px;
                  border: 1px solid #9b804e;
                  border-radius: 3px;
                  background-color: transparent;
                }
                #submit {
                  background-color: #9b804e;
                  color: #fff;
                  padding: 10px;
                  border: 1px solid transparent;
                  font-style: normal;
                  font-size: 13px;
                  cursor: pointer;
                  margin-top: 10px;
                  // font-family: "Forum", serif;
                }
              }
            }
            .bottom {
              display: flex;
              flex-direction: column;
              row-gap: 20px;
              h4 {
                padding: 10px 0;
                color: #9b804e;
              }
              a {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #3d3931;
                font-size: 15px;
                transition: all 0.5s;
                &:hover {
                  color: #9b804e;
                }
                img {
                  width: 40px;
                }
              }
              img {
                width: 100%;
                border-radius: 3px;
              }
            }
          }
        }
      }
    }
  }
}
