.container {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 1199px) {
    padding: 0 5%;
  }
}

body {
  &.show-menu {
    #about-menu {
      right: 0;
      transition: all 0.8s;
    }
  }

  &.show-account {
    .acoount {
      left: 0;
      transition: all 0.8s;
    }
  }

  // &.show-search {
  //   #header-search {
  //     display: block;
  //   }
  // }
}

.cursor {
  .cursor-dot {
    width: 6px;
    height: 6px;
    // background-color: hsla(8, 93%, 43%, 0.145);
    background-color: rgb(195, 161, 109);

    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
  }
  .cursor-outline {
    width: 40px;
    height: 40px;
    border: 3px solid rgb(195, 161, 109);
    box-shadow: 1px 1px 1px #c19d68;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
  }
}

// .loading-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   .loading {
//     border: 16px solid #f3f3f3;
//     border-top: 16px solid #c19d68;
//     border-radius: 50%;
//     width: 120px;
//     height: 120px;
//     animation: spin 2s linear infinite;
//   }
//   @keyframes spin {
//     0% {
//       transform: rotate(0deg);
//     }
//     100% {
//       transform: rotate(360deg);
//     }
//   }
// }

.arrow-up {
  position: fixed;
  bottom: 10px;
  right: 16px;
  opacity: 0;
  transition: all 0.7s;
  z-index: 11211212;

  a {
    padding: 15px 20px;
    font-size: 15px;
    color: #fff;
    background-color: #c19d68;
    border-radius: 50%;
  }

  &.active {
    opacity: 1;
    bottom: 35px;
  }
}
