footer {
  background-image: url("../images/Footer-image-1b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .footer {
    padding: 3rem 0;
    background-color: rgba(0, 0, 0, 0.8);
    .footer-section {
      .footer-info {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
          width: 100px;
        }
        p {
          font-size: 16px;
          max-width: 500px;
          color: #b5b5b5;
          line-height: 26px;
          font-weight: 400;
        }
        .footer-btn {
          display: flex;
          gap: 20px;
          align-items: center;
          a {
            padding: 13px 30px;
            color: #fff;
            i {
              margin-right: 8px;
            }

            &:nth-child(1) {
              background-color: #9b804e;
            }
            &:nth-child(2) {
              background-color: #3d3931;
            }
          }
        }
      }

      .footer-top {
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;

        .footer-contact {
          h1 {
            font-size: 24px;
            color: #b5b5b5;
            padding: 20px 0;
            font-weight: 400;
          }
          nav {
            ul {
              display: flex;
              flex-direction: column;
              gap: 20px;
              li {
                a {
                  font-size: 16px;
                  color: #b5b5b5;
                  font-weight: 400;
                  transition: all 0.5s;

                  &:hover {
                    color: #9b804e;
                  }
                }
              }
            }
          }
        }
        .footer-help {
          h1 {
            font-size: 24px;
            color: #b5b5b5;
            padding: 20px 0;
            font-weight: 400;
          }
          nav {
            ul {
              display: flex;
              flex-direction: column;
              gap: 20px;
              li {
                a {
                  font-size: 16px;
                  color: #b5b5b5;
                  font-weight: 400;
                  transition: all 0.5s;

                  &:hover {
                    color: #9b804e;
                  }
                }
              }
            }
          }
        }
        .services-footer {
          h1 {
            font-size: 24px;
            color: #b5b5b5;
            padding: 20px 0;
            font-weight: 400;
          }
          nav {
            ul {
              display: flex;
              flex-direction: column;
              gap: 20px;
              li {
                a {
                  font-size: 16px;
                  color: #b5b5b5;
                  font-weight: 400;
                  transition: all 0.5s;

                  &:hover {
                    color: #9b804e;
                  }
                }
              }
            }
          }
        }
        .about-footer {
          h1 {
            font-size: 24px;
            color: #b5b5b5;
            padding: 20px 0;
            font-weight: 400;
          }
          nav {
            ul {
              display: flex;
              flex-direction: column;
              gap: 20px;
              li {
                a {
                  font-size: 16px;
                  color: #b5b5b5;
                  font-weight: 400;
                  transition: all 0.5s;

                  &:hover {
                    color: #9b804e;
                  }
                }
              }
            }
          }
        }
        .event-footer {
          h1 {
            font-size: 24px;
            color: #b5b5b5;
            padding: 20px 0;
            font-weight: 400;
          }
          nav {
            ul {
              display: flex;
              flex-direction: column;
              gap: 20px;
              li {
                a {
                  font-size: 16px;
                  color: #b5b5b5;
                  font-weight: 400;
                  transition: all 0.5s;

                  &:hover {
                    color: #9b804e;
                  }
                }
              }
            }
          }
        }
      }

      .footer-bottom {
        border-top: 1px solid #9b804e;
        text-align: center;
        padding-top: 40px;
        p {
          font-size: 16px;
          color: #b5b5b5;
          transition: all 0.5s;
          a {
            color: #b5b5b5;
            transition: all 0.5s;
            &:hover {
              color: #9b804e;
            }
          }

          &:hover {
            color: #9b804e;
          }
        }
      }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      .footer-section {
        .footer-top {
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
        }
      }
    }
    @media (min-width: 481px) and (max-width: 767px) {
      .footer-section {
        .footer-info {
          .footer-btn {
            flex-direction: column;
          }
        }
        .footer-top {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
      }
    }
    @media (min-width: 250px) and (max-width: 480px) {
      .footer-section {
        .footer-info {
          .footer-btn {
            flex-direction: column;
            font-size: 13px;
          }
        }
        .footer-top {
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }
    }
  }
}
