* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  outline: none;
}

body {
  background-color: #f6f6f9;
}
body.dark-mode {
  background-color: #1a1a1a;
}
body.dark-mode .content #sidebar-sec .sidebar {
  background-color: #383839;
  box-shadow: none;
}
body.dark-mode .content .main-content .user-table-sec .user-search input {
  box-shadow: none;
  background-color: #383839;
}
body.dark-mode .content .main-content .user-table-sec table {
  background-color: #383839;
  box-shadow: none;
}
body.dark-mode .content #right-sec .navbar .info .body h3 {
  color: #677483;
}
body.dark-mode .content #right-sec .logo-icons .box {
  background-color: #383839;
  box-shadow: none;
}
body.dark-mode .content #right-sec .logo-icons .box img {
  mix-blend-mode: color-burn;
}
body.dark-mode .content #right-sec .reminders .boxes .box {
  background-color: #383839;
  box-shadow: none;
}
body.dark-mode .content #right-sec .reminders .boxes .new-reminder {
  background-color: #383839;
  box-shadow: none;
}

html {
  scroll-behavior: smooth;
}

.content {
  display: flex;
  gap: 30px;
}
.content #sidebar-sec {
  padding: 2rem 0;
  width: 15%;
}
.content #sidebar-sec .toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}
.content #sidebar-sec .toggle .close {
  padding-right: 1rem;
  display: none;
}
.content #sidebar-sec .sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  padding: 30px 30px 20px 40px;
  background-color: #fff;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  border-radius: 15px;
  height: 88vh;
  position: relative;
  top: 1.5rem;
  left: 2rem;
  transition: all 0.3s ease;
}
.content #sidebar-sec .sidebar:hover {
  box-shadow: none;
}
.content #sidebar-sec .sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #7d8da1;
  transition: all 0.5s;
}
.content #sidebar-sec .sidebar a:hover {
  color: #5487c2;
}
.content #sidebar-sec .sidebar a i {
  font-size: 22px;
}
.content #sidebar-sec .sidebar a.active {
  color: #6c9bcf;
  width: 100%;
  margin-left: 0;
}
.content #sidebar-sec .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 18px;
  background-color: #6c9bcf;
}
.content #sidebar-sec .sidebar .logout {
  padding-top: 60px;
}
.content .main-content {
  width: 60%;
  padding: 5rem 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content .main-content .user-table-sec {
  padding: 1rem 0;
}
.content .main-content .user-table-sec h1 {
  padding: 20px 0;
  font-size: 25px;
  color: #383839;
}
.content .main-content .user-table-sec .form-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;
}
.content .main-content .user-table-sec .form-sec input {
  margin-bottom: 20px;
  padding: 10px 15px;
  width: 400px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}
.content .main-content .user-table-sec .form-sec input:hover {
  box-shadow: none;
}
.content .main-content .user-table-sec .user-search input {
  width: 30%;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}
.content .main-content .user-table-sec .user-search input:hover {
  box-shadow: none;
}
.content .main-content .user-table-sec table {
  width: 100%;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  padding: 10px 15px;
  text-align: center;
  border-radius: 20px;
}
.content .main-content .user-table-sec table:hover {
  box-shadow: none;
}
.content .main-content .user-table-sec table th {
  width: 10%;
  padding: 10px 15px;
}
.content .main-content .user-table-sec table td {
  width: 10%;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(132, 139, 200, 0.18);
  color: #677483;
}
.content .main-content .user-table-sec table td .fa-solid {
  font-size: 15px;
  cursor: pointer;
  padding: 0 5px;
}
.content .main-content .user-table-sec table td .fa-trash {
  color: red;
}
.content .main-content .rezervation-table-sec {
  padding: 1rem 0;
}
.content .main-content .rezervation-table-sec h1 {
  padding: 20px 0;
  font-size: 25px;
  color: #383839;
}
.content .main-content .rezervation-table-sec .form-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;
}
.content .main-content .rezervation-table-sec .form-sec input {
  margin-bottom: 20px;
  padding: 10px 15px;
  width: 400px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}
.content .main-content .rezervation-table-sec .form-sec input:hover {
  box-shadow: none;
}
.content .main-content .rezervation-table-sec .user-search input {
  width: 30%;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}
.content .main-content .rezervation-table-sec .user-search input:hover {
  box-shadow: none;
}
.content .main-content .rezervation-table-sec table {
  width: 100%;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  padding: 10px 15px;
  text-align: center;
  border-radius: 20px;
}
.content .main-content .rezervation-table-sec table:hover {
  box-shadow: none;
}
.content .main-content .rezervation-table-sec table th {
  width: 10%;
  padding: 10px 15px;
}
.content .main-content .rezervation-table-sec table td {
  width: 10%;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(132, 139, 200, 0.18);
  color: #677483;
}
.content .main-content .rezervation-table-sec table td .fa-solid {
  font-size: 15px;
  cursor: pointer;
  padding: 0 5px;
}
.content .main-content .rezervation-table-sec table td .fa-trash {
  color: red;
}
.content .main-content .product-table-sec {
  padding: 1rem 0;
}
.content .main-content .product-table-sec h1 {
  padding: 20px 0;
  font-size: 25px;
  color: #383839;
}
.content .main-content .product-table-sec .form-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;
}
.content .main-content .product-table-sec .form-sec input {
  margin-bottom: 20px;
  padding: 10px 15px;
  width: 400px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}
.content .main-content .product-table-sec .form-sec input:hover {
  box-shadow: none;
}
.content .main-content .product-table-sec .product-search input {
  width: 30%;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}
.content .main-content .product-table-sec .product-search input:hover {
  box-shadow: none;
}
.content .main-content .product-table-sec table {
  width: 100%;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  padding: 10px 15px;
  text-align: center;
  border-radius: 20px;
}
.content .main-content .product-table-sec table:hover {
  box-shadow: none;
}
.content .main-content .product-table-sec table th {
  width: 10%;
  padding: 10px 15px;
}
.content .main-content .product-table-sec table td {
  width: 10%;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(132, 139, 200, 0.18);
  color: #677483;
}
.content .main-content .product-table-sec table td .fa-solid {
  font-size: 15px;
  cursor: pointer;
  padding: 0 5px;
}
.content .main-content .product-table-sec table td .fa-trash {
  color: red;
}
.content .main-content .product-table-sec table td .fa-pen-to-square {
  color: green;
}
.content .main-content .product-table-sec table td img {
  width: 130px;
  aspect-ratio: 1/1;
}
.content #right-sec {
  width: 20%;
  padding: 2rem 0;
}
.content #right-sec .navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.content #right-sec .navbar .dark-icons {
  display: flex;
}
.content #right-sec .navbar .dark-icons i {
  padding: 10px 13px;
  font-size: 15px;
  cursor: pointer;
}
.content #right-sec .navbar .dark-icons i:nth-child(1) {
  background-color: #5487c2;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.content #right-sec .navbar .dark-icons i:nth-child(2) {
  background-color: #9b9b9b;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content #right-sec .navbar .info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.content #right-sec .navbar .info .body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content #right-sec .navbar .info .body h3 {
  font-size: 15px;
  color: #1a1a1a;
}
.content #right-sec .navbar .info .body p {
  font-size: 14px;
  color: #7d8da1;
  font-style: italic;
}
.content #right-sec .navbar .info img {
  cursor: pointer;
  width: 60px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.content #right-sec .logo-icons {
  padding-top: 30px;
}
.content #right-sec .logo-icons .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  gap: 15px;
  background-color: #fff;
  padding: 30px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.content #right-sec .logo-icons .box h2 {
  font-size: 25px;
  font-family: "Protest Revolution", sans-serif;
}
.content #right-sec .logo-icons .box:hover {
  box-shadow: none;
}
.content #right-sec .reminders {
  padding-top: 50px;
}
.content #right-sec .reminders h1 {
  padding: 20px 0;
  font-size: 25px;
  color: #1a1a1a;
}
.content #right-sec .reminders .boxes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content #right-sec .reminders .boxes .box {
  display: flex;
  align-items: center;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  gap: 15px;
  background-color: #fff;
  padding: 30px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.content #right-sec .reminders .boxes .box .fa-solid {
  font-size: 20px;
  color: #fff;
  background-color: #1b9c85;
  padding: 13px;
  border-radius: 15px;
  cursor: pointer;
}
.content #right-sec .reminders .boxes .box .fa-pen {
  background-color: #ff0060;
}
.content #right-sec .reminders .boxes .box .box-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content #right-sec .reminders .boxes .box .box-body h3 {
  font-size: 20px;
  color: #1a1a1a;
}
.content #right-sec .reminders .boxes .box .box-body p {
  font-size: 15px;
  color: #677483;
}
.content #right-sec .reminders .boxes .box:hover {
  box-shadow: none;
}
.content #right-sec .reminders .boxes .new-reminder {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  gap: 15px;
  background-color: #fff;
  padding: 30px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
  border: 3px dotted #77ace9;
  box-shadow: none;
}
.content #right-sec .reminders .boxes .new-reminder a {
  font-size: 15px;
  color: #5487c2;
}
.content #right-sec .reminders .boxes .new-reminder a i {
  margin-right: 8px;
}
.content #right-sec .reminders .boxes .new-reminder:hover {
  background-color: #5487c2;
}
.content #right-sec .reminders .boxes .new-reminder:hover a {
  color: #fff;
}/*# sourceMappingURL=admin.css.map */